<div class="relative eco_conntent"  [formGroup]="form">
    <div class="bg-white px-3 content-screen p-3">
    <!--màn hình danh sách-->
    <ng-container *ngIf="!actionClick">

        <div class="">
            <h1 class="title-component">THÔNG TIN SÁNG KIẾN</h1>
        </div>
    
        <div class="flex flex-row row gap-4 items-center">
            <div class="basis-1/4">
                <label for="">Cấp độ sáng kiến<span>(*)</span></label>
                <ng-select
                    [items]="listCapDo"
                    bindLabel="NAME"
                    bindValue="ID"
                    placeholder="Lựa chọn"
                    formControlName="capDoSangKien"
                >
                </ng-select>
                <div
                *ngIf="submitted.check && f?.capDoSangKien?.errors"
                class="invalid-feedback"
            >
                <div *ngIf="f.capDoSangKien.errors.required">
                    Trường bắt buộc nhập
                </div>
            </div>
            </div>
            <div class="basis-1/4">
                <label for="">Năm<span>(*)</span></label>
                <ng-select
                    [items]="listYears"
                    bindLabel="NAME"
                    bindValue="ID"
                    placeholder="Lựa chọn"
                    formControlName="nam"
                >
                </ng-select>
                <div
                *ngIf="submitted.check && f?.nam?.errors"
                class="invalid-feedback"
            >
                <div *ngIf="f.nam.errors.required">
                    Trường bắt buộc nhập
                </div>
            </div>
            </div>
            <div class="basis-1/4">
                <label for="">Chủ đầu tư<span>(*)</span></label>
                <ng-select
                    [items]="listDonViChuDauTu"
                    bindLabel="name"
                    bindValue="id"
                    placeholder="Lựa chọn"
                    formControlName="donViChuDauTu"
                >
                </ng-select>
            </div>
            <div class="basis-1/4">
                <label for="">Đơn vị đăng ký/áp dụng</label>
                <div class="select-cbkh flex items-center form-control">
                    <input class="inputselect" type="text" name="" id=""   formControlName="donViApDung" />
                    <i  (click)="openAlertDialog('DKAPDUNGSK', form)" class="fa fa-search"></i>
                </div>
            </div>
        </div>
    
        <div class="flex flex-row row gap-4">
            <div class="basis-full">
                <label for="">Tên giải pháp<span>(*)</span></label>
                <textarea
                placeholder="Nhập tên giải pháp đề nghị công nhận sáng kiến..."
                    name=""
                    class="form-control p-2 min-h-18"
                    id=""
                    cols="30"
                    rows="10"
                    formControlName="tenGiaiPhap"
                ></textarea>
            </div>
        </div>
    
        <label for="">Tác giả/Đồng tác giả của giải pháp</label>
        <table class="table table_custom">
            <thead>
                <tr>
                    <th class="stt_table">STT</th>
                    <th>Họ và tên</th>
                    <th>Vai trò</th>
                    <th>Năm sinh</th>
                    <th>Nơi công tác</th>
                    <th>Trình độ chuyên môn</th>
                    <th>Nội dung tham gia</th>
                    <th>
                        <button class="pull-right add_button" (click)="addTacGia()">
                            +Thêm thành viên
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody formArrayName="tacGiaGiaiPhap">
                <ng-container
                    *ngFor="
                            let tacgia of $any(form.get('tacGiaGiaiPhap')).controls;
                            let i = index
                        "
                >
                    <tr [formGroup]="tacgia">
                        <td class="stt_table">{{ i + 1 }}</td>
                        <td>
                            <div class="select-cbkh flex items-center form-control">
                                <input
                                    class="inputselect"
                                    type="text"
                                    name=""
                                    id=""
                                    formControlName="ten"
                                />
                                <i
                                    (click)="openAlertDialog('THANHVIEN', tacgia)"
                                    class="fa fa-search"
                                ></i>
                            </div>
                            <!-- <input style="border:1px solid #ccc; border-radius: 5px;" type="text" name="" formControlName="ten" id=""> <i (click)="openAlertDialog('THANHVIEN',thanhvien.get('ten'))" class="fa fa-search"></i> -->
                        </td>
                        <td>
                            <ng-select
                                [items]="listChucDanh"
                                bindLabel="NAME"
                                bindValue="ID"
                                placeholder="Chọn chức danh"
                                formControlName="chucDanh"
                                style="width: 100%;"
                            >
                            </ng-select>
                        </td>
                        <!-- {{thanhvien.get('chucDanh').value}} -->
                        <td>
                            <input
                                style="
                                        border: 1px solid #ccc;
                                        border-radius: 5px;
                                        width: 100%;
                                        height: 30px;
                                    "
                                class="inputselect"
                                type="text"
                                name=""
                                id=""
                                formControlName="namSinh"
                            />
                        </td>
                        <td>
                            <input
                                style="
                                        border: 1px solid #ccc;
                                        border-radius: 5px;
                                        width: 100%;
                                        height: 30px;
                                    "
                                class="inputselect"
                                type="text"
                                name=""
                                id=""
                                formControlName="diaChiNoiLamViec"
                            />
                        </td>
                        <td>
                            <input
                                style="
                                        border: 1px solid #ccc;
                                        border-radius: 5px;
                                        width: 100%;
                                        height: 30px;
                                    "
                                class="inputselect"
                                type="text"
                                name=""
                                id=""
                                formControlName="thanhTuu"
                            />
                        </td>
                        <td>
                            <input
                                style="
                                        border: 1px solid #ccc;
                                        border-radius: 5px;
                                        width: 100%;
                                        height: 30px;
                                    "
                                class="inputselect"
                                type="text"
                                name=""
                                id=""
                                formControlName="noiDungThamGia"
                            />
                        </td>
                        <td class="text-center action-table">
                            <i
                                (click)="removeItem(form, i)"
                                class="fa fa-trash"
                                title="Xóa bỏ"
                            ></i>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
        </table>
    
        <div class="flex flex-row row gap-4 items-center mt-3">
            <div class="basis-1/2">
                <label for="">Lĩnh vực áp dụng sáng kiến</label>
                <ng-select
                    [items]="listLinhVucNghienCuu"
                    bindLabel="NAME"
                    bindValue="ID"
                    placeholder="Lựa chọn"
                    [multiple]="true"
                    formControlName="linhVucNghienCuu"
                >
                </ng-select>
                <div
                    *ngIf="submitted.check && f?.linhVucNghienCuu?.errors"
                    class="invalid-feedback"
                >
                    <div *ngIf="f.linhVucNghienCuu.errors.required">
                        Trường bắt buộc nhập
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row row gap-4">
            <div class="basis-full">
                <label for="">Ưu nhược điểm của giải pháp kỹ thuật<span>(*)</span></label>
                <textarea
                    name=""
                    id=""
                    class="form-control p-3 min-h-30"
                    formControlName="uuNhuocDiem"
                ></textarea>
            </div>
        </div>
        <div class="flex flex-row row gap-4">
            <div class="basis-full">
                <label for="">Nội dung giải pháp<span>(*)</span></label>
                <textarea
                    name=""
                    id=""
                    class="form-control p-3 min-h-30"
                    formControlName="noiDungGiaiPhap"
                ></textarea>
            </div>
        </div>
        <div class="flex flex-row row gap-4 items-center mt-3">
                <label for="" class="">Ngày áp dụng chính thức (Không được ít hơn 3 tháng và không quá 1 năm)</label>
                <div class="form-date">
                    <input
                        matInput
                        [matDatepicker]="pickers"
                        formControlName="ngayApDung"
                    />
                    <mat-datepicker-toggle
                        matIconSuffix
                        [for]="pickers"
                    ></mat-datepicker-toggle>
                    <mat-datepicker
                        #pickers
                    ></mat-datepicker>
                </div>
        </div>
        <div class="flex flex-row row gap-4">
            <div class="basis-full">
                <label for="">Quá trình áp dụng giải pháp trên thực tiễn hoặc áp dụng thử</label>
                <textarea
                    name=""
                    id=""
                    class="form-control p-3 min-h-30"
                    formControlName="quaTrinhApDung"
                ></textarea>
            </div>
        </div>
        <div class="flex flex-row row gap-4">
            <div class="basis-full">
                <label for="">Hiệu quả thực tế thu được khi áp dụng giải pháp</label>
                <textarea
                    name=""
                    id=""
                    class="form-control p-3 min-h-30"
                    formControlName="hieuQuaThucTe"
                ></textarea>
            </div>
        </div>
        <div class="flex flex-row row gap-4">
            <div class="basis-full">
                <label for="">Tóm tắt: Bản chất của giải pháp/sáng kiến</label>
                <textarea
                    name=""
                    id=""
                    class="form-control p-3 min-h-30"
                    formControlName="tomTat"
                ></textarea>
            </div>
        </div>
        <div class="flex flex-row row gap-4">
            <div class="basis-full">
                <label for="">Danh sách những người tham gia tổ chức áp dụng sáng kiến lần đầu (nếu có)</label>
                <textarea
                    name=""
                    id=""
                    class="form-control p-3 min-h-30"
                    formControlName="thamGiaToChuc"
                ></textarea>
            </div>
        </div>
        <div class="flex flex-row row gap-4 items-center">
            <label for="">Số tiền làm lợi trong năm đầu tiên áp dụng giải pháp</label>
            <input type="text" class="form-control w-100 ml-4 mr-4" name="" id=""  formControlName="soTienLamLoi">
            <label for="">(Lần tháng lương cơ sơ)</label>
        </div>
        

        <mat-tab-group class="detail_tab1">
            <mat-tab label="Hồ sơ, tài liệu đăng ký">
                <table class="table table_custom" style="margin-top: 0">
                    <thead>
                        <tr>
                            <th class="stt_table">STT</th>
                            <th>Văn bản liên quan</th>
                            <th>File nội dung</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="listFolderHSDK" *ngIf="form.get('listFolderHSDK').value.length >0">
                        <tr *ngFor="let item of form.get('listFolderHSDK')['controls']; let i = index">
                            <td class="stt_table">{{i+1}}</td>
                            <td>{{item.get('fileName').value}}</td>
                            <td></td>
                            <td>
                                <div
                                class="list-file"
                                *ngIf="item.get('listFile').value.length > 0"
                            >
                                <table class="table table_custom action-table">
                                    <tbody
                                        formArrayName="listFile"
                                        class="table_listfile"
                                    >
                                        <tr
                                            *ngFor="
                                                let item2 of item.get(
                                                    'listFile'
                                                )['controls'];
                                                let k = index
                                            "
                                            [formGroupName]="k"
                                        >
                                            <td>
                                                {{
                                                    item2.get("fileName").value
                                                }}

                                                ({{
                                                    item2.get("size").value >
                                                    1024 * 1024
                                                        ? (
                                                              item2.get("size")
                                                                  .value /
                                                              (1024 * 1024)
                                                          ).toFixed(1) + "(MB)"
                                                        : item2.get("size")
                                                              .value > 1024
                                                        ? (
                                                              item2.get("size")
                                                                  .value / 1024
                                                          ).toFixed(1) + "(KB)"
                                                        : item2
                                                              .get("size")
                                                              .value.toFixed(
                                                                  1
                                                              ) + "K"
                                                }})
                                            </td>
                                            <td class="text-right">
                                                <i
                                                    style="
                                                        color: red;
                                                        cursor: pointer;
                                                        margin-right: 3px;
                                                    "
                                                    (click)="
                                                        deleteItemFile(item, k)
                                                    "
                                                    class="fa fa-trash"
                                                    title="Xóa bỏ"
                                                ></i>
                                                <i
                                                    class="fa fa-cloud-download"
                                                    style="
                                                        color: green;
                                                        cursor: pointer;
                                                    "
                                                    aria-hidden="true"
                                                    (click)="
                                                        downLoadFile(item2)
                                                    "
                                                    title="Download file"
                                                ></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-file-upload add_button-import">
                                    <input type="file" multiple (change)="handleUpload($event,item,i)" #fileUpload2 />
                                    <i class="fa fa-cloud-upload"></i> Upload file
                                </label>
                                <!-- <button class="add_button">
                                    <i class="fa fa-link"></i> Upload file
                                </button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>
            <mat-tab label="Hồ sơ tài liệu xét duyệt, công nhận">
                <table class="table table_custom" style="margin-top: 0">
                    <thead>
                        <tr>
                            <th class="stt_table">STT</th>
                            <th>Văn bản liên quan</th>
                            <th>File nội dung</th>
                        </tr>
                    </thead>
                  <tbody formArrayName="listFolderHSXD" *ngIf="form.get('listFolderHSXD').value.length >0">
                        <tr *ngFor="let item of form.get('listFolderHSXD')['controls']; let i = index">
                            <td class="stt_table">{{i+1}}</td>
                            <td>{{item.get('fileName').value}}</td>
                            <td></td>
                            <td>
                                <div
                                class="list-file"
                                *ngIf="item.get('listFile').value.length > 0"
                            >
                                <table class="table table_custom action-table">
                                    <tbody
                                        formArrayName="listFile"
                                        class="table_listfile"
                                    >
                                        <tr
                                            *ngFor="
                                                let item2 of item.get(
                                                    'listFile'
                                                )['controls'];
                                                let k = index
                                            "
                                            [formGroupName]="k"
                                        >
                                            <td>
                                                {{
                                                    item2.get("fileName").value
                                                }}

                                                ({{
                                                    item2.get("size").value >
                                                    1024 * 1024
                                                        ? (
                                                              item2.get("size")
                                                                  .value /
                                                              (1024 * 1024)
                                                          ).toFixed(1) + "(MB)"
                                                        : item2.get("size")
                                                              .value > 1024
                                                        ? (
                                                              item2.get("size")
                                                                  .value / 1024
                                                          ).toFixed(1) + "(KB)"
                                                        : item2
                                                              .get("size")
                                                              .value.toFixed(
                                                                  1
                                                              ) + "K"
                                                }})
                                            </td>
                                            <td class="text-right">
                                                <i
                                                    style="
                                                        color: red;
                                                        cursor: pointer;
                                                        margin-right: 3px;
                                                    "
                                                    (click)="
                                                        deleteItemFile(item, k)
                                                    "
                                                    class="fa fa-trash"
                                                    title="Xóa bỏ"
                                                ></i>
                                                <i
                                                    class="fa fa-cloud-download"
                                                    style="
                                                        color: green;
                                                        cursor: pointer;
                                                    "
                                                    aria-hidden="true"
                                                    (click)="
                                                        downLoadFile(item2)
                                                    "
                                                    title="Download file"
                                                ></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </td>
                            <td class="text-center">
                                <label class="custom-file-upload add_button-import">
                                    <input type="file" multiple (change)="handleUpload($event,item,i)" #fileUpload2 />
                                    <i class="fa fa-cloud-upload"></i> Upload file
                                </label>
                                <!-- <label class="custom-file-upload add_button-import">
                                    <input type="file" multiple (change)="handleUpload($event,item,i)" #fileUpload2 />
                                    <i class="fa fa-cloud-upload"></i> Upload file
                                </label> -->
                                <!-- <button class="add_button">
                                    <i class="fa fa-link"></i> Upload file
                                </button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>
        </mat-tab-group>
    
        <div class="action-all-f">
            <button class="add_button" (click)="onSubmit('DA_CONG_NHAN','LUU')"><i class="fa fa-save"></i> Lưu</button>
            <!-- <button class="add_button	">
                <i class="fa fa-save"></i> Lưu và gửi
            </button>
            <button class="add_button bg-sky-500	">
                <i class="fa fa-cloud-download"></i> Tải mẫu đơn
            </button> -->
        </div>

    </ng-container>
    <!-- No template -->
    <!-- <ng-template #noObjects>
    <div
      class="z-100 absolute inset-0 flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
      <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:cloud-upload'"></mat-icon>
      <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Chọn tham số đầu vào để xem</div>
    </div>
  </ng-template> -->

    <!-- details -->
    <ng-container *ngIf="actionClick">
        <div
            class="flex-auto z-20 absolute inset-0 lg:static lg:inset-auto flex"
        >
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</div>
</div>
