<div class="relative eco_conntent">
    <div class="bg-white px-3 content-screen">
    <!--màn hình danh sách-->
    <ng-container *ngIf="!actionClick">
        <div class="flex items-center justify-between">
            <h1 class="title-component">ĐỀ TÀI, NHIỆM VỤ CỦA TÔI</h1>
            <button class="add_button" (click)="addNew()">
                <i class="fa fa-plus"></i> Tạo bản ghi mới
            </button>
        </div>
        <div class="header-list-dinh-huong">
            <div class="serach-box">
                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="txtSeach"
                    name="serach"
                    (change)="TimKiem()"
                    placeholder="Nhập từ khóa tìm kiếm: tên đề tài,nhiệm vụ, chủ nhiệm, đồng chủ nhiệm, thư ký"
                />
                <button   (click)="TimKiem()">
                    <i class="fa fa-search"></i>
                    Tìm kiếm
                </button>
            </div>
        </div>
        <table class="table table_custom">
            <thead>
                <tr>
                    <th class="stt_table">STT</th>
                    <th>Tên đề tài/ nhiệm vụ KHCN</th>
                    <th class="text-center">Cấp quản lý</th>
                    <th class="text-center">Chủ nhiệm đề tài</th>
                    <th class="text-center">Đơn vị chủ trì</th>
                    <th class="text-center">Thời gian thực hiện</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center">Năm đăng ký</th>
                    <th class="text-center">TBáo cáo tiến độ thực hiện</th>

                    <th class="text-center action-table"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="stt_table">1</td>
                    <td>Bản đăng ký định hướng 2023</td>
                    <td>Cấp EVN</td>
                    <td class="text-center">Trần Văn A</td>
                    <td>Ban kế toán</td>
                    <td class="text-center">01/06/2023 9:10:30</td>
                    <td>Đang thực hiện</td>
                    <td class="text-center">2023</td>
                    <td class="text-center"></td>
      
                    <td class="text-center action-table">
                        <div class="flex justify-evenly">
                            <i (click)="updateActionHSTH($event)" title="Cập nhập HSTH" class="fa fa-retweet"></i>
                            <i  (click)="updateActionHSNT($event)" title="Cập nhật HSNT" class="fa fa-retweet"></i>
                            <i  (click)="updateActionTIENDO($event)" title="TBáo cáo tiến độ thực hiện	" class="fa fa-retweet"></i>
                            <i  (click)="updateActionHSQT($event)" title="Cập nhật HSQT" class="fa fa-retweet"></i>
                            <i (click)="detail($event)"
                                class="fa fa-info-circle"
                                title="Xem chi tiết"
                            ></i>
                            <i class="fa fa-clock-o" (click)="lichsu($event)" title="Xem lịch sử"></i>
                            <i class="fa fa-pencil" (click)="editer($event)" title="Chỉnh sửa"></i>
                            <i class="fa fa-trash" title="Xóa bỏ"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- phan trang -->
        <mat-paginator
            (page)="handlePageEvent($event)"
            [length]="length"
            [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="pageIndex"
            aria-label="Select page"
        >
        </mat-paginator>
    </ng-container>

    <!-- details -->
    <ng-container *ngIf="actionClick">
        <div
            class="flex-auto z-20 absolute inset-0 lg:static lg:inset-auto flex"
        >
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</div>
</div>
