registry=https://devops.evn.com.vn/EVNCollection/_packaging/UtilityLibraryFeed/npm/registry/

always-auth=true

; begin auth token
//devops.evn.com.vn/EVNCollection/_packaging/UtilityLibraryFeed/npm/registry/:username=EVNCollection
//devops.evn.com.vn/EVNCollection/_packaging/UtilityLibraryFeed/npm/registry/:_password=[ZGR5Y2Q3dnkza3VndG1hYnhzcW0zbmlyaTR3ejRtbXNyY3JwNGpmY2hraW01c3cydzQ0YQ==]
//devops.evn.com.vn/EVNCollection/_packaging/UtilityLibraryFeed/npm/registry/:email=npm requires email to be set but doesn't use the value
//devops.evn.com.vn/EVNCollection/_packaging/UtilityLibraryFeed/npm/:username=EVNCollection
//devops.evn.com.vn/EVNCollection/_packaging/UtilityLibraryFeed/npm/:_password=[ZGR5Y2Q3dnkza3VndG1hYnhzcW0zbmlyaTR3ejRtbXNyY3JwNGpmY2hraW01c3cydzQ0YQ==]
//devops.evn.com.vn/EVNCollection/_packaging/UtilityLibraryFeed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
