<div class="relative eco_conntent">
    <!--màn hình danh sách-->
    <ng-container *ngIf="!actionClick">
        <div class="flex items-center justify-between">
            <h1 class="title-component">DANH SÁCH BẢN ĐĂNG KÝ ĐỊNH HƯỚNG</h1>
        </div>
        <div class="header-list-dinh-huong">
            <div class="year-left">
                <label for="">Năm</label>
                <ng-select [items]="listYears" bindLabel="NAME" bindValue="ID" (change)="timKiem()" placeholder="Chọn năm" [multiple]="true"
                    [(ngModel)]="selectedYear">
                </ng-select>
            </div>
            <div class="statust-right">
                <label for="">Trạng thái</label>
                <ng-select [items]="listStatus" bindLabel="TEN_TRANG_THAI" (change)="timKiem()" bindValue="MA_TRANG_THAI" placeholder="Chọn trạng thái"
                    [(ngModel)]="selectedStatus">
                </ng-select>
            </div>
            <button class="add_button mg-left mr-5" (click)="tonghop('TH_DonVi')">
                <!-- <i class="fa fa-file"></i> Tổng hợp đơn vị -->
                Tổng hợp đơn vị
            </button>
            <button class="add_button" (click)="tonghop('TH_EVN')">
                <!-- <i class="fa fa-file"></i> -->
                 Tổng hợp EVN
            </button>
        </div>
        <table class="table table_custom">
            <thead>
                <tr>
                    <th class="stt_table">STT</th>
                    <th>Tên bản đăng ký</th>
                    <th class="text-center">Người gửi</th>
                    <th class="text-center">Ngày gửi</th>
                    <th class="text-center">Năm</th>
                    <th class="text-center">Trạng thái</th>
                    <th>Ý kiến xét duyệt</th>
                    <th class="text-center action-table"></th>
                    <th class="text-center action-table"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listDinhHuong; let i = index">
                    <td class="stt_table">{{ i+ 1}}</td>
                    <td>{{item.TEN_KE_HOACH}}</td>
                    <td class="text-center">{{item.USERNAME}}</td>
                    <td class="text-center">{{item.NGAY_GUI}}</td>
                    <td class="text-center">{{item.NAM}}</td>
                    <td class="text-center">{{item.TEN_TRANG_THAI}}</td>
                    <td>{{item.Y_KIEN_NGUOI_PHE_DUYET}}</td>
                    <td class="text-center action-table">
                        <div class="flex justify-evenly">
                            <i class="fa fa-info-circle" (click)="addNew()" [routerLink]="[item.MA_KE_HOACH]"  [queryParams]="{type: 'chitiet'}" title="Xem chi tiết"></i>
                            <i class="fa fa-clock-o" title="Xem lịch sử"></i>
                            <i class="fa fa-check-square-o" (click)="addNew()" [routerLink]="[item.MA_KE_HOACH]" [queryParams]="{type: 'duyet'}" title="Duyệt định hướng"></i>
             
                        </div>
                    </td>
                    <td class="text-center action-table">
                        <input type="radio" name="tonghop" formControlName="tonghop">
                    </td>
                </tr>
                <!-- <li class="nav-item">
                    <a class="nav-link" 
                    [routerLink]="['/about']"
                    [queryParams]="{part: 'navbar',search: 'about', year: 2021 }">About</a>
                  </li> -->
                
            </tbody>
        </table>
        <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        aria-label="Select page"
    >
    </mat-paginator>
    </ng-container>
    <!-- No template -->
    <!-- <ng-template #noObjects>
    <div
      class="z-100 absolute inset-0 flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
      <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:cloud-upload'"></mat-icon>
      <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Chọn tham số đầu vào để xem</div>
    </div>
  </ng-template> -->

    <!-- details -->
    <ng-container *ngIf="actionClick">
        <div class="flex-auto z-20 absolute inset-0 lg:static lg:inset-auto flex">
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</div>