<div class="relative eco_conntent">
    <!--màn hình danh sách-->
    <div class="bg-white p-3">
        <ng-container *ngIf="!actionClick">
            <div class="flex items-center justify-between">
                <h1 class="title-component">
                    DANH SÁCH BẢN ĐĂNG KÝ ĐỊNH HƯỚNG
                </h1>
            </div>
            <div class="header-list-dinh-huong">
                <div class="year-left">
                    <label for="">Năm</label>
                    <ng-select
                        [items]="listYears"
                        bindLabel="NAME"
                        bindValue="ID"
                        (change)="timKiem()"
                        placeholder="Chọn năm"
                        [multiple]="true"
                        [(ngModel)]="selectedYear"
                    >
                    </ng-select>
                </div>
                <!-- <div class="statust-right">
                <label for="">Trạng thái</label>
                <ng-select [items]="listStatus" bindLabel="TEN_TRANG_THAI" (change)="timKiem()" bindValue="MA_TRANG_THAI" placeholder="Chọn trạng thái"
                    [(ngModel)]="selectedStatus">
                </ng-select>
            </div> -->
                <!-- <button class="add_button mg-left mr-5" (click)="tonghop('TH_DonVi')">
                Tổng hợp đơn vị
            </button>
            <button class="add_button" (click)="tonghop('TH_EVN')">
                 Tổng hợp EVN
            </button> -->
            </div>
            <table class="table table_custom">
                <thead>
                    <tr>
                        <th class="stt_table">STT</th>
                        <th>Tên bản đăng ký</th>
                        <th class="text-center">Người gửi</th>
                        <th class="text-center">Ngày gửi</th>
                        <th class="text-center">Năm</th>
                        <th class="text-center">Trạng thái</th>
                        <th>Ý kiến xét duyệt</th>
                        <th class="text-center action-table"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listDinhHuong; let i = index">
                        <td class="stt_table">{{ (i+(pageIndex * pageSize)) + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td class="text-center">{{ item.nguoiGui }}</td>
                        <td class="text-center">{{ item.ngayGui }}</td>
                        <td class="text-center">{{ item.nam }}</td>
                        <td class="text-center">{{ item.tenTrangThai }}</td>
                        <td>{{ item.yKienNguoiPheDuyet }}</td>
                        <td class="text-center action-table">
                            <div class="flex">
                                <i
                                    class="fa fa-info-circle"
                                    (click)="addNew()"
                                    [routerLink]="[item.maKeHoach]"
                                    [queryParams]="{ type: 'chitiet' }"
                                    title="Xem chi tiết"
                                ></i>
                                <i
                                    class="fa fa-clock-o"
                                    (click)="lichsu(item)"
                                    title="Xem lịch sử"
                                ></i>
                                <i
                                    *ngIf="item.maTrangThai == 'CGIAO'"
                                    class="fa fa-pencil"
                                    [routerLink]="[item.maKeHoach]"
                                    [queryParams]="{ type: 'CHINHSUA' }"
                                    title="Chỉnh sửa"
                                ></i>
                                <i
                                    *ngIf="item.maTrangThai == 'CGIAO'"
                                    class="fa fa-trash"
                                    title="Xóa bỏ"
                                ></i>
                            </div>
                        </td>
                    </tr>
                    <!-- <li class="nav-item">
                    <a class="nav-link" 
                    [routerLink]="['/about']"
                    [queryParams]="{part: 'navbar',search: 'about', year: 2021 }">About</a>
                  </li> -->
                </tbody>
            </table>
            <mat-paginator
                (page)="handlePageEvent($event)"
                [length]="length"
                [pageSize]="pageSize"
                [showFirstLastButtons]="showFirstLastButtons"
                [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex"
                aria-label="Select page"
            >
            </mat-paginator>
        </ng-container>
    </div>
    <!-- No template -->
    <!-- <ng-template #noObjects>
    <div
      class="z-100 absolute inset-0 flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
      <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:cloud-upload'"></mat-icon>
      <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Chọn tham số đầu vào để xem</div>
    </div>
  </ng-template> -->

    <!-- details -->
    <ng-container *ngIf="actionClick">
        <div
            class="flex-auto z-20 absolute inset-0 lg:static lg:inset-auto flex"
        >
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</div>
