<div class="body-detail">
    <table class="table table_custom">
        <thead>
            <tr>
                <th class="stt_table">STT</th>
                <th>Nội dung đăng ký</th>
                <th class="text-center">
                    Nguồn kinh phí (EVN hoặc Đơn vị)
                </th>
                <th class="text-center">Dự toán (Triệu đồng)</th>
                <th class="text-center">Đơn vị chủ trì</th>
                <th class="text-center">Chủ nhiệm nhiệm vụ</th>
                <th>Nội dung hoạt động</th>
                <th>
                    Thời gian dự kiến thực hiện (Từ tháng/năm đến tháng/năm)
                </th>
                <th>Ý kiến người phê duyệt</th>
                <th
                    class="text-center action-table actiom-table-detail"
                ></th>
            </tr>
        </thead>
        <tbody>
            <tr class="font-semibold text-3xl">
                <td class="">1</td>
                <td class="">Nhiệm vụ KHCN</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="italic font-semibold">
                <td class="">1.1</td>
                <td>Nhiệm vụ KHCN cấp EVN</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center action-table actiom-table-detail">
                    <div class="flex justify-evenly">
                        <i class="fa fa-plus" title="Thêm mới"></i>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td class="">1</td>
                <td>Nhiệm vụ 1</td>
                <td>EVN</td>
                <td>Chưa có</td>
                <td>Ban TCNS - EVN</td>
                <td></td>
                <td>Xây dựng đề xuất, thuyết minh và dự toán</td>
                <td></td>
                <td></td>
                <td class="text-center action-table actiom-table-detail">
                    <div class="flex justify-evenly">
                        <i class="fa fa-times" title="Xóa bỏ"></i>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td class="">2</td>
                <td>Nhiệm vụ 2</td>
                <td>EVN</td>
                <td>Chưa có</td>
                <td>Ban TCNS - EVN</td>
                <td></td>
                <td>Xây dựng đề xuất, thuyết minh và dự toán</td>
                <td></td>
                <td></td>
                <td class="text-center action-table actiom-table-detail">
                    <div class="flex justify-evenly">
                        <i class="fa fa-times" title="Xóa bỏ"></i>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td class="">3</td>
                <td>Nhiệm vụ 3</td>
                <td>EVN</td>
                <td>Chưa có</td>
                <td>Ban TCNS - EVN</td>
                <td></td>
                <td>Xây dựng đề xuất, thuyết minh và dự toán</td>
                <td></td>
                <td></td>
                <td class="text-center action-table actiom-table-detail">
                    <div class="flex justify-evenly">
                        <i class="fa fa-times" title="Xóa bỏ"></i>
                    </div>
                </td>
            </tr>
            <tr class="">
                <td class="">4</td>
                <td>Nhiệm vụ 4</td>
                <td>EVN</td>
                <td>Chưa có</td>
                <td>Ban TCNS - EVN</td>
                <td></td>
                <td>Xây dựng đề xuất, thuyết minh và dự toán</td>
                <td></td>
                <td></td>
                <td class="text-center action-table actiom-table-detail">
                    <div class="flex justify-evenly">
                        <i class="fa fa-times" title="Xóa bỏ"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
