<div class="body-detail" [formGroup]="form">
    <table class="table table_custom">
        <thead>
            <tr>
                <th class="stt_table">STT</th>
                <th>Nội dung đăng ký</th>
                <th class="text-center">
                    Nguồn kinh phí (EVN hoặc Đơn vị)
                </th>
                <th class="text-center">Dự toán (Triệu đồng)</th>
                <th class="text-center">Đơn vị chủ trì</th>
                <th class="text-center">Chủ nhiệm nhiệm vụ</th>
                <th>Nội dung hoạt động</th>
                <th>
                    Thời gian dự kiến thực hiện (Từ tháng/năm đến tháng/năm)
                </th>
                <th>Ý kiến người phê duyệt</th>
                <th class="text-center action-table actiom-table-detail"></th>
            </tr>
        </thead>
        <tbody formArrayName="listNhiemVu">
            <ng-container *ngFor="let item of form.get('listNhiemVu')['controls']; let i = index;">
                <ng-container [formGroupName]="i">
                    <tr class="font-semibold text-3xl">
                        <td class="">{{i+1}}</td>
                        <td class="">{{item.get('content').value}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <ng-container formArrayName="listNhiemVu_cap2">
                        <ng-container *ngFor="let items of item.get('listNhiemVu_cap2')['controls']; let j = index;">
                            <ng-container [formGroupName]="j">
                                <tr class="italic font-semibold">
                                    <td class="">{{i+1}}.{{j+1}}</td>
                                    <td class="">{{items.get('content').value}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center action-table actiom-table-detail">
                                        <div class="flex justify-evenly">
                                            <i class="fa fa-plus" (click)="addCap2(items)" title="Thêm mới1"></i>
                                        </div>
                                    </td>
                                </tr>
                                <ng-container formArrayName="listNhiemVu_cap3">
                                    <ng-container
                                        *ngFor="let itemc of items.get('listNhiemVu_cap3')['controls']; let c = index;">
                                        <ng-container [formGroupName]="c">
                                            <tr class="">
                                                <td class="">{{c+1}}</td>
                                                <td>{{itemc.get('content').value}}</td>
                                                <td>{{itemc.get('source').value}}</td>
                                                <td>{{itemc.get('estimates').value}}</td>
                                                <td>{{itemc.get('unit').value}}</td>
                                                <td>{{itemc.get('missionLeader').value}}</td>
                                                <td>{{itemc.get('activeContent').value}}</td>
                                                <td>{{itemc.get('thoiGianDuKien').value}}</td>
                                                <td>{{itemc.get('opinion').value}}</td>
                                                <td class="text-center action-table actiom-table-detail">
                                                    <div class="flex justify-evenly">
                                                        <i class="fa fa-times" title="Xóa bỏ"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</div>