.actiom-table-detail{
    width: 40px;
    .fa-plus{
        color: #56BEEA;
        &:hover {
            border-color: #56BEEA;
        }
    }
    .fa-times{
        color: red;
        &:hover {
            border-color: red;
        }
    }
}

.body-detail table{
    color: #000;
}
