<div class="relative eco_conntent">
    <div class="bg-white p-3">
    <!--màn hình danh sách-->
    <ng-container *ngIf="!actionClick">
        <div class="flex items-center justify-between">
            <h1 class="title-component">Báo cáo - Thống kê</h1>
        </div>

       <div class="px-3 bg-blue-500 py-3 text-white uppercase">
       Tổng hợp danh sách đề tài/ nhiệm vụ KHCN
       </div>
       <table class="table table_custom" style="margin-top: 0">
        <thead>
            <tr>
                <th class="stt_table">STT</th>
                <th class="text-left">Tiêu chí báo cáo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stt_table">1</td>
                <td class="uppercase" (click)="THEOHOATDONG('TKKHOAHOC')">Theo lĩnh vực khoa học</td>
            </tr>
            <tr>
                <td class="stt_table">2</td>
                <td class="uppercase"  (click)="THEOHOATDONG('TKDETAI')">Theo cấp đề tài</td>
            </tr>
            <tr>
                <td class="stt_table">3</td>
                <td class="uppercase"  (click)="THEOHOATDONG('TKDONVI')">Theo đơn vị</td>
            </tr>
        </tbody>
    </table>

    <div class="px-3 bg-blue-500 py-3 text-white uppercase mt-8">
        TỔNG HỢP DANH SÁCH SÁNG KIẾN
       </div>
       <table class="table table_custom" style="margin-top: 0">
        <thead>
            <tr>
                <th class="stt_table">STT</th>
                <th class="text-left">Tiêu chí báo cáo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stt_table">1</td>
                <td class="uppercase"  (click)="THEOSANGKIEN('TKAPDUNG')">Theo lĩnh vực áp dụng</td>
            </tr>
            <tr>
                <td class="stt_table">2</td>
                <td class="uppercase" (click)="THEOSANGKIEN('TKSANGKIEN')">Theo cấp sáng kiến</td>
            </tr>
            <tr>
                <td class="stt_table">3</td>
                <td class="uppercase" (click)="THEOSANGKIEN('TKSKDONVI')">Theo đơn vị</td>
            </tr>
        </tbody>
    </table>
    </ng-container>
</div>
    <!-- details -->
    <ng-container *ngIf="actionClick">
        <div
            class="flex-auto z-20 absolute inset-0 lg:static lg:inset-auto flex"
        >
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</div>
