<div class="relative eco_conntent">
    <div class="bg-white px-3 content-screen">
    <!--màn hình danh sách-->
    <ng-container *ngIf="!actionClick">
        <div class="flex items-center justify-between">
            <h1 class="title-component">TÌM KIẾM ĐỀ TÀI, NHIỆM VỤ, SÁNG KIẾN            </h1>
        </div>

        <div class="flex flex-row row gap-4">
            <div class="basis-1/2">
                <label for="">Hoạt động KHCN:                </label>
                <ng-select
                [items]="listHoatDongKHCN"
                bindLabel="name"
                placeholder="--Tất cả--"
                [(ngModel)]="hoatDongKhCN"
                style="width: 100%"
            >
            </ng-select>
            </div>

            <div class="basis-1/2">
                <label for="">Lĩnh vực nghiên cứu</label>
                <ng-select
                [items]="listLinhVucNghienCuu"
                bindLabel="NAME"
                bindValue="ID"
                placeholder="Lựa chọn"
                [(ngModel)]="linhVucNghienCuu"
                style="width:100%"
            >
            </ng-select>
            </div>
            </div>

            <div class="flex flex-row row gap-4 mt-3">
                <div class="basis-1/2">
                    <label for="">Cấp quản lý</label>
                    <ng-select
                    [items]="listCapQuanLy"
                    bindLabel="NAME"
                    bindValue="ID"
                    placeholder="Lựa chọn"
                    [(ngModel)]="capQuanLy"
                    style="width:100%"
                >
                </ng-select>
                </div>


                <div class="basis-1/2">
                    <label for="">Năm đăng ký</label>
                    <ng-select
                    [items]="listYears"
                    bindLabel="NAME"
                    bindValue="ID"
                    placeholder="Lựa chọn"
                    [(ngModel)]="selectedYear"
                    style="width:100%"
                >
                </ng-select>
                </div>

           </div>


           <div class="flex flex-row row gap-4 mt-3">
            <div class="basis-full">
                <label for="">Tên đề tài/ sáng kiến
                </label>
                <textarea class="form-control" name=""  [(ngModel)]="tenDeTaiSK" id="" cols="30" rows="10" style="padding: 10px; min-height: 100px;"></textarea>
            </div>
           </div>

           <div class="flex flex-row row gap-4 mt-3">
            <div class="basis-full">
                <label for="">Tên chủ nhiệm/ tác giả
                </label>
                <textarea class="form-control" name="" id=""  [(ngModel)]="tenChuNhiemTG" cols="30" rows="10" style="padding: 10px; min-height: 100px;"></textarea>
            </div>
           </div>
   <div class="flex justify-end mt-3"> <button class="px-6 py-2 bg-sky-500 rounded-md text-white float-right" (click)="timKiem()"><i class="fa fa-search"></i> Tìm kiếm</button></div>
            <table class="table table_custom" style="text-align: center">
                <thead>
                <tr>
                    <th class="stt_table">STT</th>
                    <th>Hoạt động KHCN</th>
                    <th class="text-center">Tên đề tài/ sáng kiến</th>
                    <th class="text-center">Cấp quản lý</th>
                    <th class="text-center">Chủ nhiệm/ Tác giả</th>
                    <th class="text-center">Đơn vị chủ trì/ Đơn vị chủ đầu tư</th>
                    <th class="text-center">Năm đăng ký</th>
                    <th class="text-center action-table"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of listData; let i = index">
                    <td class="stt_table">{{ i+ 1}}</td>
                    <td>{{item.hoatDongKeHoach}}</td>
                    <td>{{item.tenDeTaiSK}}</td>
                    <td>{{item.capQuanLy}}</td>
                    <td class="text-center">{{item.tenChuNhiemTG}}</td>
                    <td class="text-center">{{item.tenNghienCuu}}</td>
                    <td class="text-center">{{item.nam}}</td>
                    <td class="text-center action-table">
                        <div class="flex justify-evenly">
                            <i (click)="detail(item)"
                               class="fa fa-info-circle"
                               title="Xem chi tiết"
                            ></i>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        <!-- phan trang -->
        <mat-paginator
            (page)="handlePageEvent($event)"
            [length]="length"
            [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="pageIndex"
            aria-label="Select page"
        >
        </mat-paginator>
        <!-- <button (click)="openAlertDialog()" >Mop pup up fille</button> -->
    </ng-container>

    <!-- details -->
    <ng-container *ngIf="actionClick">
        <div
            class="flex-auto z-20 absolute inset-0 lg:static lg:inset-auto flex"
        >
            <router-outlet></router-outlet>
        </div>
    </ng-container>
    </div>
</div>
