@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~font-awesome/css/font-awesome.css";

h1.title-component {
    font-size: 20px;
    margin: 15px 0px;
    font-weight: 500;
    text-transform: uppercase;
}

table.table.table_custom {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 20px;
}

table.table.table_custom {
    th {
        padding: 10px;
        background-color: #D7D2D2;
        color: #2a3493;
    }

    td {
        padding: 5px 10px;
        color: #2a3493;
    }
}
tbody tr{
    border-top: 1px solid #ccc;
}
tbody tr:last-child{
    border-bottom: 1px solid #ccc;
}
.eco_conntent {
    padding: 10px;
    width: 100%;
}

.ng-select.ng-select-single .ng-select-container,
.ng-select .ng-select-container {
    height: 30px;
    min-height: 30px;
}

.header-list-dinh-huong {
    display: flex;
}
.invalid-feedback {
    color: red;
}

.year-left,
.statust-right {
    display: flex;
    align-items: center;
    margin-right: 160px;

    label {
        margin-right: 10px;
        font-weight: 600;
    }

    ng-select {
        min-width: 200px;
    }
}

.stt_table {
    width: 40px;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
}

.action-table {
    width: 150px;

    i {
        padding: 5px;
        border: 1px solid #cfcfcf;
        border-radius: 3px;
        cursor: pointer;
        border-color: #ccc;
        margin-right: 5px;
    }

    i.fa-info-circle,
    i.fa-retweet {
        &:hover {
            border-color: #2A3493;
        }
    }

    i.fa-pencil {
        color: #56BEEA;

        &:hover {
            border-color: #56BEEA;
        }
    }

    i.fa-trash {
        color: red;

        &:hover {
            border-color: red;
        }
    }
}

button.add_button {
    background: #2A3493;
    color: #fff;
    height: 30px;
    padding: 6px 10px;
    border-radius: 5px;
}

button.add_button:hover {
    background-color: #505dd1;
}

.form-control {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input {
    padding-left: 10px;
}

label span {
    color: red;
    margin-left: 3px;
}
.kinhphi{
    margin: 10px 0;
}
.detail_tab1 .mat-tab-label {
    border: 1px solid #ccc;
    margin-left: 0px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.detail_tab1  .mat-tab-label-active .mat-tab-label-content{
    color: #000;
}
mat-paginator .mat-paginator-container{
    width: 100%; display: flex;     justify-content: flex-end !important;
}
.cdk-dialog-container {
    padding: 0px !important;
}
.title_labe{
    margin-top: 10px;
    margin-bottom: 10px;
}
.content-detail {
    // color: #000;
}
button.add_button-export {
    background: #02a7f0;
    color: #fff;
    height: 30px;
    padding: 6px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.add_button-import {
    background: #1e293b;
    color: #fff;
    height: 30px;
    padding: 6px 10px;
    border-radius: 5px;
    margin-left: 10px;
}
input[type="file"] {
    display: none;
}