<div class="relative eco_conntent">
    <!--màn hình danh sách-->
    <ng-container *ngIf="!actionClick">
        <div class="flex items-center justify-between">
            <h1 class="title-component">RÀ SOÁT/XÉT DUYỆT/CÔNG NHẬN SÁNG KIẾN</h1>
           
        </div>
        <div class="flex flex-row row gap-4 items-center mb-3	">
            <div class="w-50">
                <label for="">Cấp độ sáng kiến</label>
            </div>
            <div class="w-50">
                <ng-select
                    style="width: 100%"
                    [items]="listYears"
                    bindLabel="NAME"
                    bindValue="ID"
                    placeholder="Lựa chọn"
                    [(ngModel)]="selectedYear"
                >
                </ng-select>
            </div>
            <div class="w-50">
                <label for="">Trạng thái</label>
            </div>
            <div class="w-50">
                <ng-select
                    style="width: 100%;"
                    [items]="listYears"
                    bindLabel="NAME"
                    bindValue="ID"
                    placeholder="Lựa chọn"
                    [(ngModel)]="selectedYear"
                >
                </ng-select>
            </div>
        </div>

        <div class="flex flex-row row gap-4 items-center mb-3	">
            <div class="w-50">
                <label for="">Đơn vị thực hiện</label>
            </div>
            <div class="w-50">
                <ng-select
                    style="width: 100%"
                    [items]="listYears"
                    bindLabel="NAME"
                    bindValue="ID"
                    placeholder="Lựa chọn"
                    [(ngModel)]="selectedYear"
                >
                </ng-select>
            </div>
            <div class="w-50">
                <label for="">Năm đăng ký</label>
            </div>
            <div class="w-50">
                <ng-select
                    style="width: 100%;"
                    [items]="listYears"
                    bindLabel="NAME"
                    bindValue="ID"
                    placeholder="Lựa chọn"
                    [(ngModel)]="selectedYear"
                >
                </ng-select>
            </div>
            <div class="grow flex justify-end">
                <button class="add_button" (click)="addNew()">
                    <i class="fa fa-plus"></i> Đăng ký mới
                </button>
            </div>
        </div>


        <div class="flex flex-row row gap-4 items-center">
            <div class="basic-1/4" style="margin-right: 13px;" (click)="timKiem()">
                <label for="">Tìm kiếm</label>
            </div>
            <div class="basis-1/2">
                <input
                style="width: 80%"
                type="text"
                class="form-control"
                placeholder="Nhập từ khóa tìm kiếm: tác giả, tên giải pháp,..."
            />
            </div>
            <div class="grow flex justify-end">
                <button class="add_button bg-sky-500">
                    <i class="fa fa-search"></i>
                    Tìm kiếm
                </button>
            </div>
        </div>


        <div class="header-list-dinh-huong">
            <div class="serach-box">
              
               
            </div>
        </div>
        <table class="table table_custom">
            <thead>
                <tr>
                    <th class="stt_table">STT</th>
                    <th>Tên giải pháp</th>
                    <th class="text-center">Cấp độ sáng kiến</th>
                    <th class="text-center">Đơn vị thực hiện</th>
                    <th class="text-center">Năm</th>
                    <th class="text-center">Tác giả là thủ trưởng đơn vị</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center action-table"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listGiao; let i = index">
                    <td class="stt_table">{{ i+ 1}}</td>
                    <td>{{item.tenGiaiPhap}}</td>
                    <td class="text-center">{{item.tenCapDoSangKien}}</td>
                    <td class="text-center">{{item.tenDonViChuDauTu}}</td>
                    <td class="text-center">{{item.nam}}</td>
                    <td class="text-center">{{item.thuTruongDonVi==true?"Có":"Không"}}</td>
                    <td class="text-center">{{item.tenTrangThai}}</td>
                    <td class="action-table">
                        <div class="flex justify-evenly"  style="float: left;">
                           

                            <i class="fa fa-info-circle cursor-point" [routerLink]="[item.maSangKien]"  [queryParams]="{type: 'CHITIET'}" title="Xem chi tiết"></i>
                          <i class="fa fa-clock-o cursor-point" (click)="lichsu(item)" title="Xem lịch sử"></i> 
                            <i *ngIf="item.maTrangThai=='SOAN' || item.maTrangThai=='Y_CAU_HIEU_CHINH' || item.maTrangThai=='CHO_RA_SOAT' || item.maTrangThai=='DA_RA_SOAT' || item.maTrangThai=='DA_TLHDXDTC'" class="fa fa-pencil cursor-point"  [routerLink]="[item.maSangKien]" [queryParams]="{type: 'CHINHSUA'}" title="Chỉnh sửa"></i>
                             <!-- <i *ngIf="item.maTrangThai=='SOAN' || item.maTrangThai=='Y_CAU_HIEU_CHINH' " class="fa fa-trash cursor-point" (click)="xoa(item)" title="Xóa bỏ"></i> -->
                             <i *ngIf="item.maTrangThai=='CHO_RA_SOAT' || item.maTrangThai=='DA_RA_SOAT'  " (click)="updateActionRaSoat(item)" title="Rà soát" class=" fa fa-check-square-o"></i>
                             <i *ngIf="item.maTrangThai=='DA_RA_SOAT' || item.maTrangThai=='DA_TLHDXDTC' " (click)="updateActionHDXDCN(item)" title="Cập nhập HĐXD/CN" class="fa fa-retweet"></i>
                             <i *ngIf="item.maTrangThai=='DA_TLHDXDTC'" (click)="updateActionKQXDCN(item)" title="Cập nhập QĐ chi trả thù lao" class="fa fa-retweet"></i>
                             <i   (click)="updateActionKQ(item)" title="Cập nhập kết quả XD/TC" class="fa fa-retweet"></i>
                            </div>
                    </td>
                </tr>
                <!-- <tr>
                    <td class="stt_table">1</td>
                    <td>Bản đăng ký định hướng 2023</td>
                    <td>Cấp EVN</td>
                    <td class="text-center">Trần Văn A</td>
                    <td>Ban kế toán</td>
                    <td class="text-center">01/06/2023 9:10:30</td>
                    <td>Đang thực hiện</td>
                    <td class="text-center">2023</td>
                    <td class="text-center action-table">
                        <div class="flex justify-evenly">
                            <i (click)="updateActionRaSoat($event)" title="Rà soát" class=" fa fa-check-square-o"></i>
                            <i (click)="updateActionHDXDCN($event)" title="Cập nhập HĐXD/CN" class="fa fa-retweet"></i>
                            <i  (click)="updateActionKQXDCN($event)" title="Cập nhập QĐ chi trả thù lao" class="fa fa-retweet"></i>
                            <i   (click)="updateActionKQ($event)" title="Cập nhập kết quả XD/TC" class="fa fa-retweet"></i>
                            <i (click)="detail($event)"
                                class="fa fa-info-circle"
                                title="Xem chi tiết"
                            ></i>
                            <i class="fa fa-clock-o"  title="Xem lịch sử"></i>
                            <i class="fa fa-pencil" (click)="editer($event)"
                            class="fa fa-pencil" title="Chỉnh sửa"></i>
                          
                        </div>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <!-- phan trang -->
        <mat-paginator
            (page)="handlePageEvent($event)"
            [length]="length"
            [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="pageIndex"
            aria-label="Select page"
        >
        </mat-paginator>
    </ng-container>
    <!-- No template -->
    <!-- <ng-template #noObjects>
    <div
      class="z-100 absolute inset-0 flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
      <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:cloud-upload'"></mat-icon>
      <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Chọn tham số đầu vào để xem</div>
    </div>
  </ng-template> -->

    <!-- details -->
    <ng-container *ngIf="actionClick">
        <div
            class="flex-auto z-20 absolute inset-0 lg:static lg:inset-auto flex"
        >
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</div>
