<div class="relative eco_conntent">
    <div class="bg-white px-3 content-screen">
    <!--màn hình danh sách-->
    <ng-container *ngIf="!actionClick">
        <div class="flex items-center justify-between">
            <h1 class="title-component">SÁNG KIẾN ĐÃ CÓ QĐ CHI TRẢ THÙ LAO</h1>
           
        </div>
        <div class="flex flex-row row gap-4 items-center mb-3	">
            <div class="basic-1/5">
                <label for="">Cấp độ sáng kiến</label>
            </div>
            <div class="basis-1/5">
                <ng-select
                    style="width: 200px;"
                    [items]="listYears"
                    bindLabel="NAME"
                    bindValue="ID"
                    placeholder="Lựa chọn"
                    [(ngModel)]="selectedYear"
                >
                </ng-select>
            </div>

            <div class="basic-1/5">
                <label for="">Đơn vị thực hiện</label>
            </div>
            <div class="basis-1/5">
                <ng-select
                    style="width: 200px;"
                    [items]="listYears"
                    bindLabel="NAME"
                    bindValue="ID"
                    placeholder="Lựa chọn"
                    [(ngModel)]="selectedYear"
                >
                </ng-select>
            </div>
        </div>


        <div class="flex flex-row row gap-4 items-center">
            <div class="basic-1/4" style="margin-right: 13px;">
                <label for="">Tìm kiếm</label>
            </div>
            <div class="basis-1/2">
                <input
                style="width: 80%"
                type="text"
                class="form-control"
                placeholder="Nhập từ khóa tìm kiếm: tên đề tài,nhiệm vụ, chủ nhiệm, đồng chủ nhiệm, thư ký"
            />
            </div>
            <div class="grow flex justify-end">
                <button class="add_button">
                    <i class="fa fa-search"></i>
                    Tìm kiếm
                </button>
            </div>
        </div>


        <div class="header-list-dinh-huong">
            <div class="serach-box">
              
               
            </div>
        </div>
        <table class="table table_custom">
            <thead>
                <tr>
                    <th class="stt_table">STT</th>
                    <th>Tên giải pháp                    </th>
                    <th class="text-center">Cấp độ sáng kiến</th>
                    <th class="text-center">Đơn vị thực hiện</th>
                    <th class="text-center">Năm</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center action-table"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="stt_table">1</td>
                    <td>Bản đăng ký định hướng 2023</td>
                    <td>Cấp EVN</td>
                    <td class="text-center">Trần Văn A</td>
                    <td>Ban kế toán</td>
                    <td class="text-center">01/06/2023 9:10:30</td>
                    <td class="text-center action-table">
                        <div class="flex justify-evenly">
                            <i (click)="detail($event)"
                                class="fa fa-info-circle"
                                title="Xem chi tiết"
                            ></i>
                            <i class="fa fa-clock-o"  title="Xem lịch sử"></i>
                            <i  (click)="updateAction($event)" title="Nâng cấp sáng kiến" class="fa fa-retweet"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- phan trang -->
        <mat-paginator
            (page)="handlePageEvent($event)"
            [length]="length"
            [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="pageIndex"
            aria-label="Select page"
        >
        </mat-paginator>
        <button (click)="openAlertDialog()" >Mop pup up fille</button>
    </ng-container>
    <!-- No template -->
    <!-- <ng-template #noObjects>
    <div
      class="z-100 absolute inset-0 flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
      <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:cloud-upload'"></mat-icon>
      <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Chọn tham số đầu vào để xem</div>
    </div>
  </ng-template> -->

    <!-- details -->
    <ng-container *ngIf="actionClick">
        <div
            class="flex-auto z-20 absolute inset-0 lg:static lg:inset-auto flex"
        >
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</div>
</div>
