<div
    *ngIf="actionType == 'updateActionHD'"
    class="flex flex-col flex-auto overflow-y-auto bg-card dark:bg-default content-detail p-3"
    [formGroup]="form"
>
    <div class="">
        <h1 class="title-component">
            Cập nhập thông tin hội đồng xét duyệt/ tuyển chọn ĐT/NV
        </h1>
    </div>

    <div class="flex flex-row row gap-4">
        <div class="basis-1/12">
            <label for="">Tên đề tài/ nhiệm vụ:</label>
        </div>
        <div class="basis-2/5">
            <span
                >{{form.get('tenDeTai').value}}</span
            >
        </div>
        <div class="basis-1/12">
            <label for="">Cấp độ ĐT/NV: </label>
        </div>
        <div class="basis-1/5">
            <span>{{form.get('tenCapQuanLy').value}}</span>
        </div>
    </div>
    <div class="flex flex-row row gap-4">
        <div class="basis-1/12">
            <label for="">Chủ nhiệm:</label>
        </div>
        <div class="basis-2/5">
            <span>{{form.get('chuNhiemDeTai').value}}</span>
        </div>
        <div class="basis-1/12">
            <label for="">Đơn vị công tác:</label>
        </div>
        <div class="basis-1/5">
            <span>{{form.get('donViCongTac').value}}</span>
        </div>
    </div>
    <label for="">Danh sách các văn bản liên quan</label>
    <table class="table table_custom" style="margin-top: 0">
        <thead>
            <tr>
                <th class="stt_table">STT</th>
                <th>Tên văn bản</th>
                <th>Số ký hiệu</th>
                <th>Ngày văn bản</th>
                <th></th>
                <th>File nội dung</th>
                <th>Tìm kiếm văn bản từ D-Office</th>
            </tr>
        </thead>
        <tbody formArrayName="listFolderFile">
            <ng-container *ngFor="let item of form.get('listFolderFile')['controls']; let i = index">
            <tr [formGroupName]="i">
                <td class="stt_table">{{i+1}}</td>
                <td>{{item.get('fileName').value}}</td>
                <td></td>
                <td></td>
                <td >
                    <div class="list-file" *ngIf="item.get('listFile').value.length >0">
                        <table class="table table_custom action-table">
                            <thead>
                                <tr> 
                                    <th class="stt_table">STT</th>
                                    <th>Tên file</th>
                                    <th class="text-center">Kích thước
                                    </th>
                                    <th class="text-center">Số văn bản
                                    </th>
                                    <th style="width: 100px;"></th>
                                </tr>
                            </thead>
                            <tbody formArrayName="listFile">
                             
                                <ng-container
                                *ngFor="let item2 of item.get('listFile')['controls']; let k = index">
                                <tr [formGroupName]="k">
                                    <td class="stt_table">{{k+1}}</td>
                                    <td>{{item2.get('fileName').value}}</td>
                                    <td>
                                        {{item2.get('size').value >(1024 * 1024)?(item2.get('size').value/(1024*1024)).toFixed(1)+'(MB)':item2.get('size').value >1024?(item2.get('size').value/(1024)).toFixed(1)+'(KB)':item2.get('size').value.toFixed(1) +"K"}}</td>
                                    
                                     <td>{{item2.get('sovanban').value}}</td>
                                    <td class="text-center">  <i style="color: red; cursor: pointer;    margin-right: 10px;" (click)="deleteItemFile(item,k)" class="fa fa-trash" title="Xóa bỏ"></i>
                                        <i class="fa fa-cloud-download" style="color: green; cursor: pointer;" aria-hidden="true" (click)="downLoadFile(item2)" title="Download file"></i>
                                    </td>  
                    
                                </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div> 
                </td>
                <td class="text-center">
                    <label class="custom-file-upload add_button-import">
                        <input type="file" multiple  (change)="handleUpload($event,item,i)" #fileUpload2/>
                        <i class="fa fa-cloud-upload"></i> Upload file
                    </label>
                    <!-- <button class="add_button">
                        <i class="fa fa-link"></i> Upload file
                    </button> -->
                </td>
                <td>
                    <button class="add_button" style="margin-left: 99px;">
                        <i class="fa fa-search"></i> Tìm kiếm từ D-Office
                    </button>
                </td>
            </tr>
            </ng-container>
        </tbody>
        <!-- <tbody>
            <tr>
                <td class="stt_table">1</td>
                <td>Noi dung</td>
                <td>Noi dung</td>
                <td>Noi dung</td>
                <td class="text-center">
                    <button class="dowwnload" style="color: #2a3493">
                        <i class="fa fa-cloud-upload"></i> Upload
                    </button>
                </td>
                <td>
                    <button class="dowwnload" style="color: #2a3493">
                        <i class="fa fa-search"></i> Tìm kiếm
                    </button>
                </td>
            </tr>
        </tbody> -->
    </table>
    <div
        style="
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;
            align-items: center;
        "
    >
        <label for="">Thành viên hội đồng</label>
        <button
            class="add_button"
            style="margin-left: auto; margin-right: 10px"
        >
            <i class="fa fa-copy"></i> Copy hội đồng từ ĐT/NV khác
        </button>
        <button class="pull-right add_button" (click)="addThanhVienHD()">+Thêm thành viên</button>
        <!-- <button class="add_button" style="background-color: #41b258">
            <i class="fa fa-plus"></i> Thêm thành viên
        </button> -->
    </div>

    <table class="table table_custom" style="margin-top: 0">
        <thead>
            <tr>
                <th class="stt_table">STT</th>
                <th style="width: 300px">Thành viên hội đồng</th>
                <th style="width: 300px">Vai trò</th>
                <th>Ghi chú</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let thanhvien of $any(form.get('danhSachThanhVienHD')).controls;let i = index" [formGroup]="thanhvien">
                <td class="stt_table">{{i+1}}</td>
                <td>
                    <div class="select-cbkh flex items-center form-control">
                        <input class="inputselect" type="text" name="" id="" formControlName="ten"  />
                        <i (click)="openAlertDialog('THANHVIEN',thanhvien)" class="fa fa-search"></i>
                    </div>
                    <!-- <input style="border:1px solid #ccc; border-radius: 5px;" type="text" name="" formControlName="ten" id=""> <i (click)="openAlertDialog('THANHVIEN',thanhvien.get('ten'))" class="fa fa-search"></i> -->
                </td>
                <td>  <ng-select
                    [items]="listChucDanh"
                    bindLabel="NAME"
                    bindValue="ID"
                    placeholder="Chọn chức"
                    formControlName="chucDanh" 
                >
                </ng-select></td>
                <!-- {{thanhvien.get('chucDanh').value}} -->
                <!-- <td><input  style="border:1px solid #ccc; border-radius: 5px;width: 100%; height: 30px;"  class="inputselect" type="text" name="" id="" formControlName="soDienThoai"  /></td>
                <td><input  style="border:1px solid #ccc; border-radius: 5px;width: 100%; height: 30px;"  class="inputselect" type="text" name="" id="" formControlName="email"  /></td> -->
                <td><input  style="border:1px solid #ccc; border-radius: 5px;width: 100%; height: 30px;"  class="inputselect" type="text" name="" id="" formControlName="ghiChu"  /></td>
                <td  class="text-center action-table"> <i (click)="removeItemHD(form,i)" class="fa fa-trash"
                    title="Xóa bỏ"></i></td>
            </tr>
            <!-- <tr>
                <td class="stt_table">1</td>
                <td>
                    <ng-select
                        [items]="listTrangThai"
                        bindLabel="NAME"
                        bindValue="ID"
                        placeholder="Lựa chọn"
                        [(ngModel)]="selectedYear"
                    >
                    </ng-select>
                </td>
                <td>
                    <ng-select
                        [items]="listTrangThai"
                        bindLabel="NAME"
                        bindValue="ID"
                        placeholder="Lựa chọn"
                        [(ngModel)]="selectedYear"
                    >
                    </ng-select>
                </td>
                <td>Noi dung</td>
            </tr> -->
        </tbody>
    </table>

    <div style="display: flex; margin-top: 10px; align-items: center">
        <label for="" style="margin-right: 10px">Trạng thái</label>
        <ng-select
            [items]="listTrangThai"
            bindLabel="NAME"
            bindValue="ID"
            placeholder="Lựa chọn"
            formControlName="maTrangThai" 
            style="width: 200px"
        >
        </ng-select>
    </div>

    <div class="action-all-f">
        <button class="add_button" (click)="onSubmit('LUU','HOIDONG')"><i class="fa fa-save"></i> Lưu</button>
    </div>
</div>
<div
    *ngIf="actionType == 'updateActionKQ'"
    class="flex flex-col flex-auto overflow-y-auto bg-card dark:bg-default content-detail p-3"
    [formGroup]="form"
>
    <div class="">
        <h1 class="title-component">
            Cập nhập thông tin hội đồng xét duyệt/ tuyển chọn ĐT/NV
        </h1>
    </div>

    <div class="flex flex-row row gap-4">
        <div class="basis-1/12">
            <label for="">Tên đề tài/ nhiệm vụ:</label>
        </div>
        <div class="basis-2/5">
            <span
                >{{form.get('tenDeTai').value}}</span
            >
        </div>
        <div class="basis-1/12">
            <label for="">Cấp độ ĐT/NV:</label>
        </div>
        <div class="basis-1/5">
            <span>{{form.get('tenCapQuanLy').value}}</span>
        </div>
    </div>
    <div class="flex flex-row row gap-4">
        <div class="basis-1/12">
            <label for="">Chủ nhiệm:</label>
        </div>
        <div class="basis-2/5">
            <span>{{form.get('chuNhiemDeTai').value}}</span>
        </div>
        <div class="basis-1/12">
            <label for="">Đơn vị công tác:</label>
        </div>
        <div class="basis-1/5">
            <span>{{form.get('donViCongTac').value}}</span>
        </div>
    </div>
    <div style="display: flex; margin-top: 10px; align-items: center" *ngFor="let item of form.get('listFolderFileHD')['controls']; let i = index">
        <div class="basis-60">
            <label for="">{{item.get('fileName').value}}</label>
        </div>
        <div class="list-file" *ngIf="item.get('listFile').value.length >0">
            <table class="table table_custom action-table">
                <thead>
                    <tr> 
                        <th class="stt_table">STT</th>
                        <th>Tên file</th>
                        <th class="text-center">Kích thước
                        </th>
                        <th class="text-center">Số văn bản
                        </th>
                        <th style="width: 100px;"></th>
                    </tr>
                </thead>
                <tbody formArrayName="listFile">
                 

                    <tr *ngFor="let item2 of item.get('listFile')['controls']; let k = index">
                        <td class="stt_table">{{k+1}}</td>
                        <td>{{item2.get('fileName').value}}</td>
                        <td>
                            {{item2.get('size').value >(1024 * 1024)?(item2.get('size').value/(1024*1024)).toFixed(1)+'(MB)':item2.get('size').value >1024?(item2.get('size').value/(1024)).toFixed(1)+'(KB)':item2.get('size').value.toFixed(1) +"K"}}</td>
                        
                         <td>{{item2.get('sovanban').value}}</td>
                        <td class="text-center">
                               <i class="fa fa-cloud-download" style="color: green; cursor: pointer;" aria-hidden="true" (click)="downLoadFile(item2)" title="Download file"></i>
                        </td>  
        
                    </tr>
        
                </tbody>
            </table>
        </div> 
    </div>
    <!-- <div style="display: flex; margin-top: 10px; align-items: center">
        <div class="basis-60">
            <label for="">Quyết định thành lập hội đồng</label>
        </div>
        <div class="basis-40">
            <label for="">{{fileThanhLapHD.sovanban}}</label>
        </div>
        <div class="basis-40">
            <label for="">{{fileThanhLapHD.ngayVanBan | date:'dd/MM/yyyy'}}</label>
        </div>
        <div class="basis-40">
            <button style="color: #02a7f0"  (click)="downLoadFile(fileThanhLapHD)">
                <i class="fa fa-cloud-upload"></i> Tải về
            </button>
        </div>
    </div> -->

    <div style="display: flex; margin-top: 10px; align-items: center">
        <div class="basis-1/12">
            <label for="">Điểm họp</label>
        </div>
        <div class="basis-11/12">
            <input type="text" class="form-control"  formControlName="diaDiem"  name="" id="" />
        </div>
    </div>
    <div style="display: flex; margin-top: 10px; align-items: center">
        <div class="basis-1/12">
            <label for="">Thời gian họp</label>
        </div>
        <div class="basis-1/5">
            <input type="date" class="form-control" formControlName="thoiGianHop" name="" id="" />
        </div>
    </div>
    <div style="display: flex; margin-top: 10px; align-items: center">
        <div class="basis-1/12">
            <label for="">Kết quả phiếu đánh giá</label>
        </div>
        <div class="basis-1/5">
            <input
                type="text"
                class="form-control"
                placeholder="Phiếu, tổng số phiếu"
                name=""
                id=""
                formControlName="ketQuaPhieuDanhGia"
            />
        </div>
    </div>

    <label class="title_labe" for=""
        >Kết luận, kiến nghị của Hội đồng<label style="font-style: italic"
            >(kiến nghị về các nội dung cần sửa đổi)</label
        ></label
    >
    <textarea class="form-control" name="" id="" cols="30" rows="10" formControlName="ketLuanKienNghiHD" style="padding: 10px; min-height: 100px;"></textarea>

    <div style="display: flex; margin-top: 10px; align-items: center">
        <label for="" style="margin-right: 10px">Trạng thái<span>(*)</span></label>
        <ng-select
            [items]="listTrangThai"
            bindLabel="NAME"
            bindValue="ID"
            placeholder="Lựa chọn"
            formControlName="maTrangThai" 
            style="width: 200px"
        >
        </ng-select>
    </div>
    <div class="flex items-center" style="margin-bottom: 10px; margin-top: 10px;">
        <input  type="checkbox" formControlName="isEmail" [checked]="form.get('isEmail').value" class="mr-1" />
        <span style="margin-left: 5px;"> Gửi email thông báo đến chủ nhiệm và các bên liên quan</span>
    </div>

    <ng-container *ngFor="let item of form.get('listFolderFile')['controls']; let i = index">
    <div style="display: flex; margin-top: 10px; align-items: center">
        <div class="basis-1/5">
            <label for="">{{item.get('fileName').value}}</label>
        </div>
        <div class="basis-1/5">
            <label class="custom-file-upload add_button-import">
                <input type="file" multiple  (change)="handleUpload($event,item,i)" #fileUpload2/>
                <i class="fa fa-cloud-upload"></i> Upload file
            </label>
           <!-- <button style="background: #ccc; padding: 5px 16px; border-radius: 5px;">Chọn tệp...</button> -->
        </div>
        
    </div>
    <div class="list-file" style="width: 30%;" *ngIf="item.get('listFile').value.length >0">
        <table class="table table_custom action-table">
            <thead>
                <tr> 
                    <th class="stt_table">STT</th>
                    <th>Tên file</th>
                    <th class="text-center">Kích thước
                    </th>
                    <th class="text-center">Số văn bản
                    </th>
                    <th style="width: 100px;"></th>
                </tr>
            </thead>
            <tbody formArrayName="listFile">
             

                <tr *ngFor="let item2 of item.get('listFile')['controls']; let k = index">
                    <td class="stt_table">{{k+1}}</td>
                    <td>{{item2.get('fileName').value}}</td>
                    <td>
                        {{item2.get('size').value >(1024 * 1024)?(item2.get('size').value/(1024*1024)).toFixed(1)+'(MB)':item2.get('size').value >1024?(item2.get('size').value/(1024)).toFixed(1)+'(KB)':item2.get('size').value.toFixed(1) +"K"}}</td>
                    
                     <td>{{item2.get('sovanban').value}}</td>
                    <td class="text-center">  <i style="color: red; cursor: pointer;    margin-right: 10px;" (click)="deleteItemFile(item,k)" class="fa fa-trash" title="Xóa bỏ"></i>
                        <i class="fa fa-cloud-download" style="color: green; cursor: pointer;" aria-hidden="true" (click)="downLoadFile(item2)" title="Download file"></i>
                    </td>  
    
                </tr>
    
            </tbody>
        </table>
    </div> 
</ng-container>
    <!-- <div style="display: flex; margin-top: 10px; align-items: center">
        <div class="basis-1/5">
            <label for="">Phiếu đánh giá và tài liệu khác</label>
        </div>
        <div class="basis-1/5">
           <button style="background: #ccc; padding: 5px 16px; border-radius: 5px;">Chọn tệp...</button>
        </div>
    </div> -->

    <div class="action-all-f">
        <button class="add_button" (click)="onSubmit('LUU','THANHLAPHD')"><i class="fa fa-save"></i> Lưu</button>
    </div>
</div>

<div
    *ngIf="actionType == 'updateActionRaSoat'"
    class="flex flex-col flex-auto overflow-y-auto bg-card dark:bg-default content-detail p-3"
    [formGroup]="form"
>
    <div class="">
        <h1 class="title-component">
            RÀ SOÁT HỒ SƠ ĐĂNG KÝ ĐỀ TÀI, NHIỆM VỤ
        </h1>
    </div>



    <label class="title_labe" for="">Ý kiến rà soát xét duyệt, tuyển chọn hồ sơ đăng ký ĐT/NV</label>
    <textarea class="form-control" name="yKien" formControlName="yKien" id="" cols="30" rows="10" style="padding: 10px; min-height: 100px;"></textarea>

    <!-- <div style="display: flex; margin-top: 10px; align-items: center">
        <label for="" style="margin-right: 10px">Trạng thái<span>(*)</span></label>
        <ng-select
            [items]="listTrangThai"
            bindLabel="NAME"
            bindValue="ID"
            placeholder="Lựa chọn"
            formControlName="maTrangThai" 
            style="width: 200px"
        >
        </ng-select>
    </div> -->
    <div class="flex items-center" style="margin-bottom: 10px; margin-top: 10px;">
        <input  type="checkbox" formControlName="isEmail" [checked]="form.get('isEmail').value" class="mr-1" />
        <span style="margin-left: 5px;"> Gửi email thông báo đến chủ nhiệm và các bên liên quan</span>
    </div>

    <div style="display: flex; margin-top: 10px; align-items: center">
        <div class="basis-1/5">
            <label for="">File đính kèm</label>
        </div>
        <div class="basis-1/5" *ngFor="let item of form.get('listFolderFile')['controls']; let i = index">
            <label class="custom-file-upload add_button-import">
                <input type="file" multiple  (change)="handleUpload($event,item,i)" #fileUpload2/>
                <i class="fa fa-cloud-upload"></i> Upload file
            </label>
           <!-- <button style="background: #ccc; padding: 5px 16px; border-radius: 5px;">Chọn tệp...</button> -->
        </div>

    </div>
    <ng-container *ngFor="let item of form.get('listFolderFile')['controls']; let i = index">
    <div class="list-file" style="width: 30%;" *ngIf="item.get('listFile').value.length >0">
        <table class="table table_custom action-table">
            <thead>
                <tr> 
                    <th class="stt_table">STT</th>
                    <th>Tên file</th>
                    <th class="text-center">Kích thước
                    </th>
                    <th class="text-center">Số văn bản
                    </th>
                    <th style="width: 100px;"></th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let item2 of item.get('listFile')['controls']; let k = index" [formGroup]="item2">
                    <td class="stt_table">{{k+1}}</td>
                    <td>{{item2.get('fileName').value}}</td>
                    <td>
                        {{item2.get('size').value >(1024 * 1024)?(item2.get('size').value/(1024*1024)).toFixed(1)+'(MB)':item2.get('size').value >1024?(item2.get('size').value/(1024)).toFixed(1)+'(KB)':item2.get('size').value.toFixed(1) +"K"}}</td>
                    
                     <td>{{item2.get('sovanban').value}}</td>
                    <td class="text-center">  <i style="color: red; cursor: pointer;    margin-right: 10px;" (click)="deleteItemFile(item,k)" class="fa fa-trash" title="Xóa bỏ"></i>
                        <i class="fa fa-cloud-download" style="color: green; cursor: pointer;" aria-hidden="true" (click)="downLoadFile(item2)" title="Download file"></i>
                    </td>  
    
                </tr>
    
            </tbody>
        </table>
    </div> 
    </ng-container>
    <div class="action-all-f">
        <button class="add_button" (click)="onSubmit('CHAPTHUAN','RASOAT')"><i class="fa fa-check-square" aria-hidden="true"></i> Chấp thuận</button>
        <button class="add_button" style="background-color: #dc2626;" (click)="onSubmit('TRALAI','RASOAT')"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Trả lại</button>
    </div>
</div>
