.title-component{

}
.content-detail{
    padding: 10px;
}
.row-one{
    margin-bottom: 10px;
    .add_button{
        margin-left: 10px;
    }
}
.khongthaotac{
    pointer-events: none;
    opacity: 0.8;
}
input.input-form{
    width: 410px;
    margin-left: 10px;
}
label{
    font-weight: 600;
}
.row-tow{
    margin-bottom: 10px;
}
.row-tow ng-select{
    width: 200px;
    margin-left: 10px;
}
.row-three .add_button{
    margin-left: 10px;
}
.mg-left{
    margin-left: auto;
}
.invalid-feedback{
    color: red;
}
component-list.ng-star-inserted {
    overflow: scroll;
}
.row-for p{
    font-style: italic;
    color: blue;
    font-size: 14px;
    margin: 10px 0px;
    font-weight: 500;
}
.actiom-table-detail{
    width: 40px;
    .fa-plus{
        color: #56BEEA;
        &:hover {
            border-color: #56BEEA;
        }
    }
    .fa-times{
        color: red;
        &:hover {
            border-color: red;
        }
    }
}

.body-detail table{
    color: #000;
}
