<div
    class="flex flex-col flex-auto overflow-y-auto lg:overflow-hidden bg-card dark:bg-default content-detail"
>
    <div class="flex items-center justify-between">
        <h1 class="title-component">CHI TIẾT ĐĂNG KÝ ĐỊNH HƯỚNG KHCN</h1>
        <button class="add_button">
            <i class="fa fa-plus"></i> Xuất dữ liệu biểu mẫu đăng ký
        </button>
    </div>
    <div class="header-detail">
        <div class="row-one flex items-center">
            <label for="">Tên<span>(*)</span></label>
            <input
                type="text"
                placeholder="Tên bản đăng ký định hướng"
                class="form-control input-form"
            />
            <button class="add_button mg-left">
                <i class="fa fa-cloud-upload"></i> Import kế hoạch từ Excel
            </button>
            <button class="add_button">
                <i class="fa fa-cloud-download"></i> Export mẫu ra file Excel
            </button>
            <button class="add_button">
                <i class="fa fa-save"></i> Lưu kế hoạch
            </button>
            <button class="add_button">
                <i class="fa fa-send-o"></i> Lưu & Gửi
            </button>
        </div>
        <div class="row-tow flex items-center">
            <label for="">Kế hoạch năm</label>
            <ng-select
                [items]="listYears"
                bindLabel="name"
                bindValue="id"
                placeholder="Chọn năm"
                [(ngModel)]="selectedYear"
            >
            </ng-select>
        </div>
        <div class="row-three flex items-center">
            <label for="">Văn bản đăng ký<span>(*)</span></label>
            <button class="add_button">
                <i class="fa fa-cloud-upload"></i> Upload file
            </button>
            <label for="" class="ml-50">Tìm kiếm từ DO</label>
            <button class="add_button">
                <i class="fa fa-search"></i> Tìm kiếm
            </button>
        </div>
        <div class="row-for">
            <p>
                Lưu ý: Bản đăng ký kế hoạch phải được lãnh đạo đơn vị thông qua
            </p>
        </div>
    </div>
    <table-plans></table-plans>
</div>
