<!--(ngSubmit)="onSubmit()"-->

<div  *ngIf="actionType == 'THEMMOI' || actionType == 'CHINHSUA' || actionType == 'CHITIET' " [formGroup]="form" (ngSubmit)="onSubmit('CGIAO')" novalidate 
    class="flex flex-col flex-auto overflow-y-auto lg:overflow-hidden bg-card dark:bg-default content-detail">
    <div class="flex items-center justify-between">
        <h1 class="title-component">CHI TIẾT ĐĂNG KÝ ĐỊNH HƯỚNG KHCN</h1>
      
    </div>
    <div class="header-detail">
        <div class="row-one flex items-center">
            <div class="dinhhuong-name"  [class.khongthaotac]="checkChiTiet=='CHITIET'">
                <label  class="wp-15 title-dinhhuong w-50 inline-block"  for="">Tên<span>(*)</span></label>
                <input type="text" formControlName="name" placeholder="Tên bản đăng ký định hướng"
                    class="form-control input-form" />
                <div *ngIf="submitted.check && f?.name?.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Trường bắt buộc nhập</div>
                  </div>
            </div>
            
            <!-- <input type="file" class="file-input" value="Import kế hoạch từ Excel"
            (change)="importFile($event)" #fileUpload> -->
            <!-- <button class="add_button mg-left">
                <i class="fa fa-cloud-upload"></i> Import kế hoạch từ Excel
            </button> -->
            <div class="pull-right ml-auto">
                <label class="custom-file-upload add_button-import cursor-point" *ngIf="checkChiTiet !='CHITIET'">
                    <input type="file"  (change)="importFile($event)" #fileUpload/>
                    <i class="fa fa-cloud-upload"></i> Import
                </label>
                <button class="add_button-import cursor-point"  *ngIf="checkChiTiet !='CHITIET'" (click)="downloadExcel()">
                    <i class="fa fa-cloud-download"></i> Export
                </button>
                <button class="add_button-export cursor-point"  (click)="exportMau()">
                    <i class="fa fa-plus" ></i> Xuất biểu mẫu
                </button>
                <button class="add_button cursor-point"  *ngIf="checkChiTiet !='CHITIET'" (click)="onSubmit('SOAN')">
                    <i class="fa fa-save"></i> Lưu
                </button>
                <button class="add_button cursor-point"  *ngIf="checkChiTiet !='CHITIET'" (click)="onSubmit('CHO_PHE_DUYET')">
                    <i class="fa fa-send-o"></i> Lưu & Gửi
                </button>
                
            </div>
           
        </div>
        <div class="row-tow flex items-center"  [class.khongthaotac]="checkChiTiet=='CHITIET'">
            <label  class="w-50 inline-block"  for="">Kế hoạch năm</label>
            <ng-select [items]="listYears" bindLabel="NAME" bindValue="ID" placeholder="Chọn năm"
                formControlName="year">
            </ng-select>
        </div>
        <div class="row-three flex items-center" *ngIf="checkChiTiet !='CHITIET'">
            <label class="w-50 inline-block" for="">Văn bản đăng ký<span>(*)</span></label>
            <!-- <button class="add_button" (click)="handleUpload($event)">
                <i class="fa fa-cloud-upload"></i> Upload file
            </button> -->
            <label class="custom-file-upload add_button-import cursor-point">
                <input type="file" multiple  (change)="handleUpload($event)" #fileUpload2/>
                <i class="fa fa-cloud-upload"></i> Upload file
            </label>
                <!-- <ul style="margin-left: 20px;">
                    <li><a href="javascript:void(0)" class="cursor-point" (click)="openAlertDialog()">Xem File</a></li>
                </ul> -->
            <button class="add_button cursor-point"  (click)="openAlertDialog('DOffice')" style="margin-left: 99px;" *ngIf="checkDOffice==true">
                <i class="fa fa-search"></i> Tìm kiếm từ D-Office
            </button>
        </div>
        <div class="row-three flex items-center" *ngIf="checkChiTiet =='CHITIET'">
            <label style="width: 7%;" for="">Văn bản đăng ký<span>(*)</span></label>
            <!-- <button class="add_button" (click)="handleUpload($event)">
                <i class="fa fa-cloud-upload"></i> Upload file
            </button> -->
            <!-- <label class="custom-file-upload add_button-import">
                <input type="file" multiple  (change)="handleUpload($event)" #fileUpload2/>
                <i class="fa fa-cloud-upload"></i> Upload file
            </label> -->
                <!-- <ul style="margin-left: 20px;">
                    <li><a>Xem File</a></li>
                </ul> -->
            <!-- <button class="add_button" style="margin-left: 99px;">
                <i class="fa fa-search"></i> Tìm kiếm từ D-Office
            </button> -->
        </div>
        <div class="list-file  mt-3" *ngIf="listupload.length >0">
            <div class="flex" *ngFor="let item of listupload; let i = index">
                <label  class="wp-15" style="margin-right: 55px;"  for=""></label>
                <div>{{item.fileName}} ({{item.size >(1024 * 1024)?(item.size/(1024*1024)).toFixed(1)+' MB':item.size >1024?(item.size/(1024)).toFixed(1)+' KB':item.size.toFixed(1) +" K"}})</div>
                <div> <i *ngIf="actionType == 'THEMMOI' || actionType == 'CHINHSUA'" style="color: red; cursor: pointer;    margin-left: 20px;" (click)="deleteItemFile(item)" class="fa fa-trash cursor-point" title="Xóa bỏ"></i>
                    <i class="fa fa-cloud-download" *ngIf="actionType == 'CHITIET'"
                    style="color: green; cursor: pointer;" aria-hidden="true"
                    (click)="downLoadFile(item)" title="Download file"></i></div>
            </div>
        </div>
        <div class="row-for">
            <p>
                Lưu ý: Bản đăng ký kế hoạch phải được lãnh đạo đơn vị thông qua
            </p>
        </div>
    </div>
    <table-plans [form]="form" [submitted]="submitted" [dataImport]="dataImport"  *ngIf="showTable" [class.khongthaotac]="checkChiTiet=='CHITIET'"></table-plans>
    <!-- <table-plans-kehoach [form]="form" ></table-plans-kehoach> -->
</div>
<div *ngIf="actionType == 'LICHSU'"
    class="flex flex-col flex-auto overflow-y-auto bg-card dark:bg-default content-detail p-3"
>

    <app-lichsu-kehoach [makehoach]="makehoach"></app-lichsu-kehoach>
</div>
