<div class="flex flex-col flex-auto overflow-y-auto lg:overflow-hidden bg-card dark:bg-default">

    <ng-container *ngIf="obj; else selectObjToRead">

        <!-- Header -->
        <div class="z-10 relative flex flex-col flex-0 w-full border-b">

            <!-- Toolbar -->
            <div class="flex items-center min-h-16 px-4 md:px-6 border-b bg-gray-50 dark:bg-transparent">

                <button mat-flat-button [color]="'primary'" *ngIf="actionSave" (click)="onSaveObject()">
                    <mat-icon svgIcon="mat_outline:save"></mat-icon>
                    <span class="ml-2 mr-1">Ghi</span>
                </button>

                <button mat-flat-button [color]="'warn'" class="mx-1" *ngIf="actionDelete && false" (click)="onDeleteObject()">
                    <mat-icon svgIcon="mat_outline:delete"></mat-icon>
                    <span class="ml-2 mr-1">Xóa</span>
                </button>

                <button mat-flat-button [color]="'accent'" class="mx-1" *ngIf="actionEdit && false" (click)="onEditObject()">
                    <mat-icon svgIcon="mat_outline:edit"></mat-icon>
                    <span class="ml-2 mr-1">Sửa</span>
                </button>

                <button mat-flat-button [color]="'accent'" class="mx-1" *ngIf="actionCancel && false" (click)="onCancelObject()">
                    <mat-icon svgIcon="mat_outline:restore"></mat-icon>
                    <span class="ml-2 mr-1">Hủy bỏ</span>
                </button>
            </div>

        </div>

        <!-- Threads -->
        <div class="flex flex-col flex-auto shrink-0 lg:shrink p-3 lg:overflow-y-auto" fuseScrollReset>
            <!-- Thread -->
            <div
                class="flex flex-col flex-0 w-full shadow rounded-2xl overflow-hidden bg-card dark:bg-black dark:bg-opacity-10">
                <div class="grid grid-cols-5 w-full border py-5 px-6" *ngIf="viewMode">
                    <div>
                        <span class="leading-4 truncate">Tên đăng nhập </span>
                    </div>
                    <div class="col-span-4">
                        <span class="leading-4 truncate text-green-500">{{obj.USERID}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Tên đầy đủ </span>

                    </div>
                    <div class="col-span-4">
                        <span class="leading-4 truncate text-green-500">{{obj.USERNAME}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Mô tả </span>

                    </div>
                    <div class="col-span-4">
                        <span class="leading-4 truncate text-green-500">{{obj.DESCRIPT}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Số điện thoại </span>

                    </div>
                    <div class="col-span-4">
                        <span class="leading-4 truncate text-green-500">{{obj.MOBILE}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Thư điện tử </span>

                    </div>
                    <div class="col-span-4">
                        <span class="leading-4 truncate text-green-500">{{obj.EMAIL}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Chức vụ </span>

                    </div>
                    <div class="col-span-4">
                        <span class="leading-4 truncate text-green-500">{{obj.OFFICE_DESC}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Chức danh </span>

                    </div>
                    <div class="col-span-4">
                        <ng-container *ngFor="let title of obj.LST_TITLE_DESC; let i = index; trackBy: trackByFn">
                            <div>
                                <span class="leading-4 truncate text-green-500">- {{title.TITLEDESC}}</span>
                            </div>
                        </ng-container>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Tài khoản domain </span>

                    </div>
                    <div class="col-span-4">
                        <span class="leading-4 truncate text-green-500">{{obj.USERID_DOMAIN}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Domain </span>

                    </div>
                    <div class="col-span-4">
                        <span class="leading-4 truncate text-green-500">{{obj.DOMAIN}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Sử dụng: </span>
                    </div>
                    <div class="col-span-4">
                        <span *ngIf="obj.ENABLE" class="leading-4 truncate text-green-500">Có</span>
                        <span *ngIf="!obj.ENABLE" class="leading-4 truncate text-red-500">Không</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Tác giả </span>
                    </div>
                    <div class="col-span-4">
                        <span class="leading-4 truncate text-green-500">{{obj.USER_CR_ID}} - {{obj.USER_CR_DTIME |
                            date:'dd/MM/yyyy HH:mm:ss'}}</span>
                    </div>
                </div>
                <form id="dialogForm" class="flex flex-col flex-auto p-1 sm:p-1 overflow-y-auto"
                    [formGroup]="dialogForm" *ngIf="inputMode" autocomplete="off">
                    <div class="py-5 px-2">
                        <div class="grid grid-cols-2 grid-flow-row gap-2 w-full">
                            <div class="flex flex-col flex-auto">
                                <mat-form-field>
                                    <mat-label>Tên đăng nhập</mat-label>
                                    <input matInput [formControlName]="'USERID'" maxlength="50" autocomplete="off">
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col flex-auto">
                                <mat-form-field>
                                    <mat-label>Tên người dùng</mat-label>
                                    <input matInput [formControlName]="'USERNAME'" maxlength="250">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 grid-flow-row gap-2 w-full">
                            <div class="flex flex-col flex-auto">
                                <mat-form-field>
                                    <mat-label>Mật khẩu</mat-label>
                                    <input matInput [formControlName]="'PASSWORD'" type="password"
                                        autocomplete="new-password">
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col flex-auto">
                                <mat-form-field>
                                    <mat-label>Số điện thoại</mat-label>
                                    <input matInput [formControlName]="'MOBILE'" pattern="[0-9]*" maxlength="12">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 grid-flow-row gap-2 w-full">
                            <div class="flex flex-col flex-auto">
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input matInput [formControlName]="'EMAIL'" maxlength="150">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="grid grid-cols-2 grid-flow-row gap-2 w-full">
                            <div class="flex flex-col flex-auto">
                                <mat-form-field>
                                    <mat-label>Chức vụ</mat-label>
                                    <mat-select [formControlName]="'LST_TITLE'" [multiple]="true" #multiSelectTitle>
                                        <mat-option *ngFor="let t of listTITLE" [value]="t.TITLEID">{{t.TITLEDESC}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col flex-auto">
                                <mat-form-field>
                                    <mat-label>Chức danh</mat-label>
                                    <mat-select [formControlName]="'OFFICEID'" #singleSelectTitle>
                                        <mat-option *ngFor="let t of listOffice" [value]="t.OFFICEID">{{t.OFFICE_DESC}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 grid-flow-row gap-2 w-full">
                            <div class="flex flex-col flex-auto">
                                <mat-form-field>
                                    <mat-label>Tài khoản domain</mat-label>
                                    <input matInput [formControlName]="'USERID_DOMAIN'" maxlength="25" type="text"
                                        pattern="[a-zA-Z0-9]*">
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col flex-auto">
                                <mat-form-field>
                                    <mat-label>Domain</mat-label>
                                    <mat-select [formControlName]="'DOMAINID'">
                                        <mat-option *ngFor="let t of listDomain" [value]="t.DOMAINID">{{t.DOMAIN}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 grid-flow-row gap-2 w-full">
                            <div class="flex flex-col flex-auto">
                                <mat-form-field>
                                    <mat-label>Ghi chú</mat-label>
                                    <input matInput [formControlName]="'DESCRIPT'" maxlength="1000">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 grid-flow-row gap-2 w-full">
                            <mat-slide-toggle [formControlName]="'ENABLE'" style="font-weight: normal;">Sử dụng
                            </mat-slide-toggle>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </ng-container>

    
    <ng-template #selectObjToRead>

        <div class="flex flex-col flex-auto items-center justify-center bg-gray-100 dark:bg-transparent">
            <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Chọn người dùng để xem</div>
        </div>

    </ng-template>

</div>