<div class="relative eco_conntent">
    <div class="bg-white px-3 content-screen">
    <!--màn hình danh sách-->
    <ng-container *ngIf="!actionClick">
        <div class="flex items-center justify-between">
            <h1 class="title-component">SÁNG KIẾN CỦA TÔI            </h1>
            <button class="add_button" (click)="addNew()">
                <i class="fa fa-plus"></i> Đăng ký mới
            </button>
        </div>
        <table class="table table_custom">
            <thead>
                <tr>
                    <th class="stt_table">STT</th>
                    <th>Tên giải pháp</th>
                    <th class="text-center">Cấp độ sáng kiến</th>
                    <th class="text-center">Đơn vị thực hiện</th>
                    <th class="text-center">Năm</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center action-table"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listGiao; let i = index">
                    <td class="stt_table">{{ i+ 1}}</td>
                    <td>{{item.tenGiaiPhap}}</td>
                    <td class="text-center">{{item.tenCapDoSangKien}}</td>
                    <td class="text-center">{{item.tenDonViChuDauTu}}</td>
                    <td class="text-center">{{item.nam}}</td>
                    <td class="text-center">{{item.tenTrangThai}}</td>
                    <td class="action-table">
                        <div class="flex justify-evenly"  style="float: left;">
                            <i class="fa fa-info-circle cursor-point" (click)="detail(item)" title="Xem chi tiết"></i>
                          <i class="fa fa-clock-o cursor-point" (click)="lichsu(item)" title="Xem lịch sử"></i>
                            <i *ngIf="item.maTrangThai=='SOAN' || item.maTrangThai=='Y_CAU_HIEU_CHINH' " class="fa fa-pencil cursor-point"  (click)="editer(item)" title="Chỉnh sửa" ></i>
                             <i *ngIf="item.maTrangThai=='SOAN' || item.maTrangThai=='Y_CAU_HIEU_CHINH' " class="fa fa-trash cursor-point" (click)="xoa(item)" title="Xóa bỏ"></i>
                        </div>
                    </td>
                </tr>
                <!-- <tr>
                    <td class="stt_table">1</td>
                    <td>Bản đăng ký định hướng 2023</td>
                    <td>Cấp EVN</td>
                    <td class="text-center">Trần Văn A</td>
                    <td class="text-center">2023</td>
                    <td>Đang thực hiện</td>
                    <td class="text-center action-table">
                        <div class="flex justify-evenly">
                            <i (click)="detail($event)"
                                class="fa fa-info-circle"
                                title="Xem chi tiết"
                            ></i>
                            <i class="fa fa-clock-o" title="Xem lịch sử"></i>
                            <i class="fa fa-pencil" (click)="editer($event)" title="Chỉnh sửa"></i>
                            <i class="fa fa-trash" title="Xóa bỏ"></i>
                        </div>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <!-- phan trang -->
        <mat-paginator
            (page)="handlePageEvent($event)"
            [length]="length"
            [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="pageIndex"
            aria-label="Select page"
        >
        </mat-paginator>
        <!-- <button (click)="openAlertDialog()" >Mop pup up fille</button> -->
    </ng-container>

    <!-- details -->
    <ng-container *ngIf="actionClick">
        <div
            class="flex-auto z-20 absolute inset-0 lg:static lg:inset-auto flex"
        >
            <router-outlet></router-outlet>
        </div>
    </ng-container>
    </div>
</div>
