<div class="flex flex-col flex-auto overflow-y-auto lg:overflow-hidden bg-card dark:bg-default">

    <ng-container *ngIf="object; else selectObjectToRead">

        <!-- Header -->
        <div class="z-10 relative flex flex-col flex-0 w-full border-b">

            <!-- Toolbar -->
            <div class="flex items-center min-h-16 px-4 md:px-6 border-b bg-gray-50 dark:bg-transparent">

                <button mat-flat-button form="dialogForm" [color]="'primary'" *ngIf="actionSave"
                    (click)="onSaveObject()">
                    <mat-icon svgIcon="mat_outline:save"></mat-icon>
                    <span class="ml-2 mr-1">Ghi</span>
                </button>

                <button mat-flat-button [color]="'warn'" class="mx-1" *ngIf="actionDelete && false"
                    (click)="onDeleteObject()">
                    <mat-icon svgIcon="mat_outline:delete"></mat-icon>
                    <span class="ml-2 mr-1">Xóa</span>
                </button>

                <button mat-flat-button [color]="'accent'" class="mx-1" *ngIf="actionEdit && false"
                    (click)="onEditObject()">
                    <mat-icon svgIcon="mat_outline:edit"></mat-icon>
                    <span class="ml-2 mr-1">Sửa</span>
                </button>

                <button mat-flat-button [color]="'accent'" class="mx-1" *ngIf="actionCancel" (click)="onCancelObject()">
                    <mat-icon svgIcon="mat_outline:restore"></mat-icon>
                    <span class="ml-2 mr-1">Hủy bỏ</span>
                </button>
            </div>

        </div>

        <!-- Threads -->
        <div class="flex flex-col flex-auto shrink-0 lg:shrink p-3 lg:overflow-y-auto" fuseScrollReset>
            <!-- Thread -->
            <div
                class="flex flex-col flex-0 w-full shadow rounded-2xl overflow-hidden bg-card dark:bg-black dark:bg-opacity-10">
                <div class="flex flex-col w-full border bg-gray-50 dark:bg-transparent py-5 px-6" *ngIf="viewMode">

                    <div>
                        <span class="leading-4 truncate">Mã nhóm: </span>
                        <span class="leading-4 truncate text-green-500">{{object.ROLECODE}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Mô tả: </span>
                        <span class="leading-4 truncate text-green-500">{{object.ROLEDESC}}</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Sử dụng: </span>
                        <span *ngIf="object.ENABLE" class="leading-4 truncate text-red-500">Có</span>
                        <span *ngIf="!object.ENABLE" class="leading-4 truncate text-green-500">Không</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Cố định: </span>
                        <span *ngIf="object.ISFIX" class="leading-4 truncate text-red-500">Có</span>
                        <span *ngIf="!object.ISFIX" class="leading-4 truncate text-green-500">Không</span>
                    </div>
                    <div>
                        <span class="leading-4 truncate">Tác giả: </span>
                        <span class="leading-4 truncate text-green-500">{{object.USER_CR_ID}} - {{object.USER_CR_DTIME |
                            date:'dd/MM/yyyy HH:mm:ss'}}</span>
                    </div>
                </div>
                <table mat-table [dataSource]="lstTreeListFunction" class="mat-elevation-z8" *ngIf="viewMode">
                    <ng-container matColumnDef="SELECT">
                        <th style="width: 30px;" mat-header-cell *matHeaderCellDef>
                        </th>
                        <td mat-cell *matCellDef="let data">
                            <mat-checkbox disabled [checked]="data.object.ROLEID">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="FUNCTIONNAME">
                        <th mat-header-cell *matHeaderCellDef>
                            <span [style.paddingLeft.px]="40"> Tên chức năng </span>
                        </th>
                        <td mat-cell *matCellDef="let data">
                            <div class="flex items-center">
                                <button mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''"
                                    [style.marginLeft.px]="data.level * 32"
                                    (click)="lstTreeListFunctionControl.toggle(data)">
                                    <mat-icon class="mat-icon-rtl-mirror"
                                        [svgIcon]="lstTreeListFunctionControl.isExpanded(data) ? 'expand_more' : 'chevron_right'">
                                    </mat-icon>
                                </button>
                                <span class="leading-4 truncate">{{data.object.FUNCTIONNAME}}</span>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="AUTHORITY">
                        <th style="width: 500px;" mat-header-cell *matHeaderCellDef>
                            <span>Quyền</span>
                        </th>
                        <td mat-cell *matCellDef="let data">
                            <ng-container
                                *ngFor="let object of lstAuthority(data.object.FUNCTIONID,data.object.AUTHORITY); let i = index; trackBy: trackByFn">
                                <mat-checkbox disabled [checked]="object.GRANT" class="px-1">
                                    {{object.AUTHORITY_NAME}}
                                </mat-checkbox>
                            </ng-container>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="count">
                        <th mat-header-cell *matHeaderCellDef> Count </th>
                        <td mat-cell *matCellDef="let data"> {{data.count}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsView"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsView;"></tr>
                </table>
                <form id="dialogForm" [formGroup]="dialogForm" *ngIf="inputMode">
                    <div class="py-5 px-2">

                        <div class="grid grid-cols-2 grid-flow-row gap-2 w-full">
                            <div class="flex flex-col flex-auto">
                                <mat-form-field>
                                    <mat-label>Mã nhóm</mat-label>
                                    <input matInput [formControlName]="'ROLECODE'" maxlength="50">
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col flex-auto">
                                <mat-form-field>
                                    <mat-label>Sắp xếp</mat-label>
                                    <input type="number" class="w-full" matInput [formControlName]="'ROLEORD'"
                                        maxlength="50">
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="grid grid-cols-1 grid-flow-row gap-2 w-full">
                            <div class="flex flex-col flex-auto">
                                <mat-form-field>
                                    <mat-label>Tên nhóm</mat-label>
                                    <input matInput [formControlName]="'ROLEDESC'" maxlength="250">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 grid-flow-row gap-2 w-full">
                            <div class="flex flex-col flex-auto">
                                <mat-slide-toggle [formControlName]="'ENABLE'" style="font-weight: normal;">Sử dụng
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col flex-0 w-full">
                        <table mat-table [dataSource]="lstTreeListFunction" class="mat-elevation-z8" #MatTableFunction>
                            <ng-container matColumnDef="SELECT">
                                <th style="width: 35px;" mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggleFunction(StateAthAdmin.view) : null"
                                        [checked]="selectionFunction.hasValue() && isAllFunctionSelected(StateAthAdmin.view)"
                                        [indeterminate]="selectionFunction.hasValue() && !isAllFunctionSelected(StateAthAdmin.view)">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? itemToggleFunction(row,StateAthAdmin.view) : null"
                                        [checked]="selectionFunction.isSelected(row.object.FUNCTIONID)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="FUNCTIONNAME">
                                <th mat-header-cell *matHeaderCellDef>
                                    <span [style.paddingLeft.px]="40"> Tên chức năng </span>
                                </th>
                                <td mat-cell *matCellDef="let data">
                                    <div class="flex items-center">
                                        <button mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''"
                                            [style.marginLeft.px]="data.level * 32"
                                            (click)="lstTreeListFunctionControl.toggle(data)">
                                            <mat-icon class="mat-icon-rtl-mirror"
                                                [svgIcon]="lstTreeListFunctionControl.isExpanded(data) ? 'expand_more' : 'chevron_right'">
                                            </mat-icon>
                                        </button>
                                        {{data.object.FUNCTIONNAME}}
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="AUTHORITY">
                                <th style="width: 500px;" mat-header-cell *matHeaderCellDef>
                                    <span>Quyền</span>
                                </th>
                                <td mat-cell *matCellDef="let data">
                                    <ng-container
                                        *ngFor="let object of lstAuthority(data.object.FUNCTIONID,data.object.AUTHORITY); let i = index; trackBy: trackByFn">
                                        <mat-checkbox disabled [checked]="object.GRANT" class="px-1">
                                            {{object.AUTHORITY_NAME}}
                                        </mat-checkbox>
                                    </ng-container>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="count">
                                <th mat-header-cell *matHeaderCellDef> Count </th>
                                <td mat-cell *matCellDef="let data"> {{data.count}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </form>
            </div>

        </div>
    </ng-container>


    <ng-template #selectObjectToRead>

        <div class="flex flex-col flex-auto items-center justify-center bg-gray-100 dark:bg-transparent">
            <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:user-group'"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Chọn nhóm quyền để xem</div>
        </div>

    </ng-template>

</div>