
<div class="relative eco_conntent">
    <div class="bg-white px-3 content-screen">
        <div class="flex items-center justify-between">
            <h1 class="title-component">{{title}}</h1>
            </div>
         <ul class="list-lichsu">
            <li>
                <i class="fa fa-dot-circle-o"></i>
                <p class="font-bold">Ban KHCNMT</p>
                <p class="font-bold px-5">Nguyễn Văn B</p>
                <div class="flex items-center mt-3 px-10">
                    <div class="contetn w-100 ">Trả lại thông tin bản đăng ký kế hoạch</div>
                    <div class="time">03-09-2021  13:01</div>
                </div>
            </li>
            <li>
                <i class="fa fa-dot-circle-o"></i>
                <p class="font-bold">Ban KHCNMT</p>
                <p class="font-bold px-5">Nguyễn Văn B</p>
                <div class="flex items-center mt-3 px-10">
                    <div class="contetn w-100 ">Trả lại thông tin bản đăng ký kế hoạch</div>
                    <div class="time">03-09-2021  13:01</div>
                </div>
            </li>
            <li>
                <i class="fa fa-dot-circle-o"></i>
                <p class="font-bold">Ban KHCNMT</p>
                <p class="font-bold px-5">Nguyễn Văn B</p>
                <div class="flex items-center mt-3 px-10">
                    <div class="contetn w-100 ">Trả lại thông tin bản đăng ký kế hoạch</div>
                    <div class="time">03-09-2021  13:01</div>
                </div>
            </li>
            <li>
                <i class="fa fa-dot-circle-o"></i>
                <p class="font-bold">Ban KHCNMT</p>
                <p class="font-bold px-5">Nguyễn Văn B</p>
                <div class="flex items-center mt-3 px-10">
                    <div class="contetn w-100 ">Trả lại thông tin bản đăng ký kế hoạch</div>
                    <div class="time">03-09-2021  13:01</div>
                </div>
            </li>

         </ul>
        </div>
</div>
