<div class="title-popup">
    <i class="fa fa-search"></i> Tìm kiếm CBKH
</div>
<div class="content-popup">
    <div class="box-search flex items-center	">
        <label for="">Tìm kiếm</label>
        <input type="text" class="form-control" placeholder="Nhập từ khóa cần tìm..." name="" id="">
    </div>

    <table class="table table_custom">
        <thead>
            <tr>
                <th class="stt_table">STT</th>
                <th>Họ và tên</th>
                <th class="text-center">Đơn vị
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="stt_table">1</td>
                <td>Lê Văn A</td>
                <td>EVN </td>
            </tr>
            <tr>
                <td class="stt_table">1</td>
                <td>Lê Văn A</td>
                <td>EVN </td>
            </tr>
            <tr>
                <td class="stt_table">1</td>
                <td>Lê Văn A</td>
                <td>EVN </td>
            </tr>
            <tr>
                <td class="stt_table">1</td>
                <td>Lê Văn A</td>
                <td>EVN </td>
            </tr>
        </tbody>
    </table>

    <div class="action-pop">
        <button class="add_button"><i class="fa fa-plus"></i>
            Tìm kiếm</button>
        <button class="add_button selectbtn"><i class="fa fa-plus"></i>
            Chọn</button>
        <button (click)="onConfirmClick()" class="add_button"><i class="fa fa-times"></i>
            Hủy</button>
    </div>
</div>